In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings(action='ignore')

In [4]:
train_celltrion = pd.read_csv('data/train/celltrion.csv')
train_kakao = pd.read_csv('data/train/kakao.csv')
train_kospi = pd.read_csv('data/train/kospi.csv')
train_naver = pd.read_csv('data/train/naver.csv')
train_samsung = pd.read_csv('data/train/samsung.csv')
train_skhynix = pd.read_csv('data/train/skhynix.csv')

test_celltrion = pd.read_csv('data/test/celltrion.csv')
test_kakao = pd.read_csv('data/test/kakao.csv')
test_kospi = pd.read_csv('data/test/kospi.csv')
test_naver = pd.read_csv('data/test/naver.csv')
test_samsung = pd.read_csv('data/test/samsung.csv')
test_skhynix = pd.read_csv('data/test/skhynix.csv')

In [7]:
print(train_celltrion.shape, train_kakao.shape, train_kospi.shape, 
      train_naver.shape, train_samsung.shape, train_skhynix.shape)

(2548, 6) (2548, 6) (2548, 6) (2548, 6) (2547, 6) (2547, 6)

In [10]:
print(test_celltrion.shape, test_kakao.shape, test_kospi.shape, 
      test_naver.shape, test_samsung.shape, test_skhynix.shape)

(11, 6) (11, 6) (11, 6) (11, 6) (11, 6) (11, 6)

In [9]:
train_samsung.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2547 entries, 0 to 2546
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2547 non-null   object
 1   Open    2547 non-null   int64
 2   High    2547 non-null   int64
 3   Low     2547 non-null   int64
 4   Close   2547 non-null   int64
 5   Volume  2547 non-null   int64
dtypes: int64(5), object(1)
memory usage: 119.5+ KB

In [12]:
test_samsung

          Date   Open   High    Low  Close    Volume
0   2020-05-04  48900  49100  48500  48500  26083749
1   2020-05-06  49000  49200  48500  49200  18070225
2   2020-05-07  49200  49300  48700  48800  13884411
3   2020-05-08  49100  49350  48800  48800  15319700
4   2020-05-11  48900  49250  48300  48400  16357743
5   2020-05-12  48400  48500  47550  47900  23433590
6   2020-05-13  47250  48550  47200  48550  20223277
7   2020-05-14  47750  48100  47650  48000  19305974
8   2020-05-15  48400  48450  47700  47850  18463118
9   2020-05-18  47950  49100  47600  48800  20481981
10  2020-05-19  50100  50500  49700  50300  24812000