In [74]:
import pandas as pd
import numpy as np

In [25]:
df1 = pd.read_csv("2017-02-17.csv")

In [26]:
df1.drop("Unnamed: 0", axis=1, inplace=True)

In [27]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62845 entries, 0 to 62844
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   언론사     62845 non-null  object
 1   날짜      62845 non-null  object
 2   제목      62845 non-null  object
dtypes: object(3)
memory usage: 1.4+ MB

In [28]:
df2 = pd.read_csv("2017-07-24.csv")

In [29]:
df2.drop("Unnamed: 0", axis=1, inplace=True)

In [30]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135510 entries, 0 to 135509
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   언론사     135510 non-null  object
 1   날짜      135510 non-null  object
 2   제목      135510 non-null  object
dtypes: object(3)
memory usage: 3.1+ MB

In [31]:
df3 = pd.read_csv("2017-08-25.csv")

In [32]:
df3.drop("Unnamed: 0", axis=1, inplace=True)

In [33]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53120 entries, 0 to 53119
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   언론사     53120 non-null  object
 1   날짜      53120 non-null  object
 2   제목      53120 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

In [34]:
df4 = pd.read_csv("2017-10-11.csv")

In [35]:
df4.drop("Unnamed: 0", axis=1, inplace=True)

In [36]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30400 entries, 0 to 30399
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   언론사     30400 non-null  object
 1   날짜      30400 non-null  object
 2   제목      30400 non-null  object
dtypes: object(3)
memory usage: 712.6+ KB

In [37]:
df5 = pd.read_csv("2017-10-14.csv")

In [38]:
df5.drop("Unnamed: 0", axis=1, inplace=True)

In [39]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3800 entries, 0 to 3799
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   언론사     3800 non-null   object
 1   날짜      3800 non-null   object
 2   제목      3800 non-null   object
dtypes: object(3)
memory usage: 89.2+ KB

In [40]:
df6 = pd.read_csv("2017-12-27.csv")

In [41]:
df6.drop("Unnamed: 0", axis=1, inplace=True)

In [42]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53890 entries, 0 to 53889
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   언론사     53890 non-null  object
 1   날짜      53890 non-null  object
 2   제목      53890 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

In [43]:
df7 = pd.read_csv("2017-12-31.csv")

In [44]:
df7.drop("Unnamed: 0", axis=1, inplace=True)

In [46]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1264 entries, 0 to 1263
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   언론사     1264 non-null   object
 1   날짜      1264 non-null   object
 2   제목      1264 non-null   object
dtypes: object(3)
memory usage: 29.8+ KB

In [47]:
result_2017 = pd.concat([df1, df2, df3, df4, df5, df6, df7], axis=0)

In [48]:
result_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 340829 entries, 0 to 1263
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   언론사     340829 non-null  object
 1   날짜      340829 non-null  object
 2   제목      340829 non-null  object
dtypes: object(3)
memory usage: 10.4+ MB

In [49]:
result_2017.head()

        언론사           날짜                                               제목
0      아주경제  2017.01.01.    특검,문형표 구속에 새해 첫날 안종범 재소환..삼성 합병에 박근혜 역할 집중...
1  중앙SUNDAY  2017.01.01.                                           1308조원
2      IT조선  2017.01.01.        [2017 스마트폰 트렌드] ①스마트폰 시장 ‘흐림’ 전망...탈출구 있나
3      전자신문       33면 1단                         [신년기획]인공지능, 올해 경쟁력 확보 원년
4       EBN  2017.01.01.  [주간증시전망] CES發 IT섹터 관심 다양화·삼성전자 실적 발표 등 대장주 상...

In [50]:
result_2017.tail()

               언론사           날짜                              제목
1259  파이낸셜뉴스언론사 선정  2017.12.31.  삼성, 총수없이 맞는 첫 새해… 글로벌 경쟁서 뒤처지나
1260          매일경제  2017.12.31.               電·車 CEO 라스베이거스 출동
1261          남도일보  2017.12.31.   광주시/전남지사/교육감 6·13 지방선거 출마 예상자
1262          매일경제  2017.12.31.                새해 벽두부터 미국發 통상압박
1263    전자신문언론사 선정  2017.12.31.    나만의 가상비서로 변신하는 '카톡'...똑소리 나네

In [51]:
result_2017.to_csv("2017.csv")

In [52]:
result_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 340829 entries, 0 to 1263
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   언론사     340829 non-null  object
 1   날짜      340829 non-null  object
 2   제목      340829 non-null  object
dtypes: object(3)
memory usage: 10.4+ MB

In [53]:
result_2017.drop_duplicates(inplace=True)

In [54]:
result_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299804 entries, 0 to 1263
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   언론사     299804 non-null  object
 1   날짜      299804 non-null  object
 2   제목      299804 non-null  object
dtypes: object(3)
memory usage: 9.1+ MB

In [63]:
result_2017[["날짜"]]

               날짜
0     2017.01.01.
1     2017.01.01.
2     2017.01.01.
3          33면 1단
4     2017.01.01.
...           ...
1259  2017.12.31.
1260  2017.12.31.
1261  2017.12.31.
1262  2017.12.31.
1263  2017.12.31.

[299804 rows x 1 columns]

In [ ]:
# result_2017["날짜"].str.replace("([가-힣]+|[a-zA-Z]+|[0-9]+)(\s{1,})([가-힣]+|[a-zA-Z]+|[0-9]+)", "")

In [75]:
result_2017["날짜"] = result_2017["날짜"].str.replace("(\w+|\W+)(\s+)(\w+|\W+)", "")
result_2017["날짜"].replace('', np.nan, inplace=True)

/var/folders/dw/h996rvzd3dgfxkgv5h6l_qcm0000gn/T/ipykernel_70101/3149170320.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  result_2017["날짜"] = result_2017["날짜"].str.replace("(\w+|\W+)(\s+)(\w+|\W+)", "")

In [76]:
result_2017["날짜"].nunique()

366

In [78]:
result_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299804 entries, 0 to 1263
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   언론사     299804 non-null  object
 1   날짜      270856 non-null  object
 2   제목      299804 non-null  object
dtypes: object(3)
memory usage: 17.2+ MB

In [79]:
result_2017["날짜"].head(30)

0     2017.01.01.
1     2017.01.01.
2     2017.01.01.
3             NaN
4     2017.01.01.
5     2017.01.01.
6     2017.01.01.
7     2017.01.01.
8             NaN
9     2017.01.01.
10    2017.01.01.
11    2017.01.01.
12    2017.01.01.
13    2017.01.01.
14    2017.01.01.
15    2017.01.01.
16    2017.01.01.
17    2017.01.01.
18    2017.01.01.
19    2017.01.01.
20    2017.01.01.
21    2017.01.01.
22    2017.01.01.
23            NaN
24    2017.01.01.
25    2017.01.01.
26    2017.01.01.
27    2017.01.01.
28    2017.01.01.
29    2017.01.01.
Name: 날짜, dtype: object