# 크롤링한거 들고오기

In [1]:
import pandas as pd

# 워닝 무시
import warnings
warnings.filterwarnings('ignore')

# 1998 ~ 2010

In [10]:
# data 불러오기, 'Unnamed: 0' 빼고 불러오기

# 1990 ~ 2010
df_1 = pd.read_csv('data/2001_10_23.csv', index_col = 0)
df_2 = pd.read_csv('data/2002.csv', index_col = 0)
df_3 = pd.read_csv('data/2003.csv', index_col = 0)
df_4 = pd.read_csv('data/2004.csv', index_col = 0)
df_5 = pd.read_csv('data/2005.csv', index_col = 0)
df_6 = pd.read_csv('data/2006.csv', index_col = 0)
df_7 = pd.read_csv('data/2007.csv', index_col = 0)
df_8 = pd.read_csv('data/2008.csv', index_col = 0)
df_9 = pd.read_csv('data/2009.csv', index_col = 0)
df_10 = pd.read_csv('data/2010.csv', index_col = 0)

In [67]:
df_1990_2010 = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10])
df_1990_2010

          언론사           날짜                                     제목
0        연합뉴스  1990.01.17.                     朴守敎-林正明 코트서 벤치 대결로
1        연합뉴스  1990.01.17.                EC, 한국산 CDP 반덤핑 확정관세 결정
2        연합뉴스  1990.01.17.                              범용 CAD 개발
3        연합뉴스  1990.01.19.                     광고업계,제조업 불황속 호황 누려
4        연합뉴스  1990.01.21.                                -농구대잔치-
...       ...          ...                                    ...
144258  미디어오늘       4면 TOP  “2011년 1000만원이 1억 될 종목” 묻지마 쩜상이 기대된다!
144259    뉴스핌  2011.01.01.                  <스페셜인터뷰> 천정훈 MIT 석좌교수
144260  아시아경제       12면 3단          [전자·반도체 전망] 공급 넘치던 반도체업계 좋아질듯
144261  뉴스토마토  2011.01.01.               조선·동아, 방송 얻고나니 이젠 특혜 달라?
144262    뉴스엔  2011.01.01.      절호의 매수급소! 2011년 억대계좌는 이 종목에서 터진다!

[727739 rows x 3 columns]

In [68]:
# 중복값 제거

df_1990_2010 = df_1990_2010.drop_duplicates()
print(df_1990_2010.shape)

(674856, 3)

In [69]:
df_1990_2010

           언론사           날짜                                     제목
0         연합뉴스  1990.01.17.                     朴守敎-林正明 코트서 벤치 대결로
1         연합뉴스  1990.01.17.                EC, 한국산 CDP 반덤핑 확정관세 결정
2         연합뉴스  1990.01.17.                              범용 CAD 개발
3         연합뉴스  1990.01.19.                     광고업계,제조업 불황속 호황 누려
4         연합뉴스  1990.01.21.                                -농구대잔치-
...        ...          ...                                    ...
144239  파이낸셜뉴스      A18면 2단        [CES2011]세계 최대 가전쇼 열리는 라스베이거스는?
144249    매일경제       9면 TOP         갤럭시 플레이어 미리 만나볼까, 본격출시전 체험단 모집
144251     뉴스핌        9면 3단                  <스페셜인터뷰> 천정훈 MIT 석좌교수
144256  헤럴드POP       12면 3단                     갤럭시S 닮은꼴 'N스크린' 공개
144258   미디어오늘       4면 TOP  “2011년 1000만원이 1억 될 종목” 묻지마 쩜상이 기대된다!

[674856 rows x 3 columns]

In [83]:
df1998_2010 = df_1990_2010[7794:]

In [87]:
df1998_2010

           언론사           날짜                                     제목
7820      연합뉴스  1998.05.20.                             주가 사흘째 상승세
7821      연합뉴스  1998.05.20.                아남텔레콤, PDA 데이터 전송서비스 개시
7822      연합뉴스  1998.05.20.                <회전목마> 삼성전자, 사이버 사외보 제작
7823      연합뉴스  1998.05.20.               <주식시황> 사흘째 상승, 3백70선 다가서
7824      연합뉴스  1998.05.20.                  -춘계승마- 신창무,싼졸쥬마장마술 우승
...        ...          ...                                    ...
144239  파이낸셜뉴스      A18면 2단        [CES2011]세계 최대 가전쇼 열리는 라스베이거스는?
144249    매일경제       9면 TOP         갤럭시 플레이어 미리 만나볼까, 본격출시전 체험단 모집
144251     뉴스핌        9면 3단                  <스페셜인터뷰> 천정훈 MIT 석좌교수
144256  헤럴드POP       12면 3단                     갤럭시S 닮은꼴 'N스크린' 공개
144258   미디어오늘       4면 TOP  “2011년 1000만원이 1억 될 종목” 묻지마 쩜상이 기대된다!

[667062 rows x 3 columns]

In [88]:
df1998_2010.to_csv('1998_2010.csv')

In [ ]:
df_2021 = pd.concat([df_11, df_11_2])

In [ ]:
# df_2021 = df_2021.drop(columns=['index'])
# df_2021

In [ ]:
# 중복값 제거

df_2021 = df_2021.drop_duplicates()
print(df_2021.shape)

# df_11 = df_11.drop_duplicates()
# df_12 = df_12.drop_duplicates()

In [ ]:
df_2021

In [ ]:
df_2021 = df_2021.to_csv('2021.csv')

In [ ]:
df_2021

In [ ]:
# 날짜 데이터 숫자값으로 수정

df['날짜'] = df['날짜'].str.replace(".","")

# df_11['날짜'] = df_11['날짜'].str.replace(".","").astype(int)
# df_12['날짜'] = df_12['날짜'].str.replace(".","").astype(int)

In [ ]:
df['날짜'].astype(int)

# df_11['날짜'].astype(int)
# df_12['날짜'].astype(int)

In [ ]:
df[df['날짜']=='재정경제부']

In [ ]:
df[-50:]

In [ ]:
df.value_counts().sort_values()

In [ ]:
df.to_csv('1990-2010.csv')

# 1990, 2000년대 데이터 나누기

In [ ]:
df = pd.read_csv('1990-2010.csv', index_col=0)

In [ ]:
df.sort_index()

In [ ]:
df_1990 = pd.read_csv('1990.csv', index_col=0)
df_2000 = pd.read_csv('2000.csv', index_col=0)

In [ ]:
df_2000

In [ ]:
df = df.reset_index().drop(columns='index')
df

In [ ]:
for i in range(3000):
    i += 1
    print(df[-50*i:-50*(i-1)])
    print('')

In [ ]:
df_1990 = df[:10516]
df_1990

In [ ]:
df_1990.to_csv('1990.csv')

In [ ]:
df_2000 = df[10516:541020]
df_2000

In [ ]:
df_2000 = df_2000.reset_index().drop(columns='index')

In [ ]:
df_2000.to_csv('2000.csv')

# 2017 ~ 2022

In [39]:
df2018_2019 = pd.read_csv('/Users/lhs2/Desktop/GitHub/NLP_pjt/data(concat)/2018_2019.csv', index_col = 0)
df2017 = pd.read_csv('/Users/lhs2/Desktop/GitHub/NLP_pjt/data(annual)/2017.csv', index_col = 0)
df2020 = pd.read_csv('/Users/lhs2/Desktop/GitHub/NLP_pjt/data(annual)/2020.csv', index_col = 0)
df2021 = pd.read_csv('/Users/lhs2/Desktop/GitHub/NLP_pjt/data(annual)/2021.csv', index_col = 0)
df2022 = pd.read_csv('/Users/lhs2/Desktop/GitHub/NLP_pjt/data(annual)/2022.csv', index_col = 0)

In [59]:
df2022 = df2022[:169974]
df2022

               언론사           날짜                                        제목
0             데일리안  2022.01.01.         [신년사] 안철수 "대한민국 호랑이, 세계 무대로 포효해야"
1       서울경제언론사 선정       2면 TOP        [신년 사설] 과학기술 초격차로 ‘부강한 스마트 국가’로 가자
2        더팩트언론사 선정  2022.01.01.   '첫 테이프' 끊은 삼전, '추격'하는 중국…'접는폰 전성시대' 열리나
3             뉴스웍스  2022.01.01.       [신년사설] 새 대통령, 소통·포용 리더십으로 '신탕평' 나서야
4         중앙SUNDAY  2022.01.01.  광고 모델 넘어 앵커·쇼호스트·은행원까지…가상 인간 실제 세상에 스며들다
...            ...          ...                                       ...
169969        한국경제  2022.07.21.             디지털이미지뱅크, 한투등 3개사서 20억원 투자 유치
169970        한국경제  2022.07.21.                              [코스닥공시] 세보기계
169971        한국경제  2022.07.21.                        전자.통신업체 신용등급도 급상승세
169972        한국경제  2022.07.21.             종합주가 폭락세, 916.01(-37.21) 전장마감
169973        한국경제  2022.07.21.             산자부, 수치제어장치 산.학.연 공동연구 개발에 성공

[169974 rows x 3 columns]

In [63]:
df2017_2022 = pd.concat([df2017, df2018_2019, df2020, df2021, df2022]).drop(columns='level_0')

In [64]:
df2017_2022

             언론사           날짜                                               제목
0           아주경제  2017.01.01.    특검,문형표 구속에 새해 첫날 안종범 재소환..삼성 합병에 박근혜 역할 집중...
1       중앙SUNDAY  2017.01.01.                                           1308조원
2           IT조선  2017.01.01.        [2017 스마트폰 트렌드] ①스마트폰 시장 ‘흐림’ 전망...탈출구 있나
3           전자신문       33면 1단                         [신년기획]인공지능, 올해 경쟁력 확보 원년
4            EBN  2017.01.01.  [주간증시전망] CES發 IT섹터 관심 다양화·삼성전자 실적 발표 등 대장주 상...
...          ...          ...                                              ...
169969      한국경제  2022.07.21.                    디지털이미지뱅크, 한투등 3개사서 20억원 투자 유치
169970      한국경제  2022.07.21.                                     [코스닥공시] 세보기계
169971      한국경제  2022.07.21.                               전자.통신업체 신용등급도 급상승세
169972      한국경제  2022.07.21.                    종합주가 폭락세, 916.01(-37.21) 전장마감
169973      한국경제  2022.07.21.                    산자부, 수치제어장치 산.학.연 공동연구 개발에 성공

[1713562 rows x 3 columns]

In [65]:
df2017_2022.to_csv('2017_2022.csv')

# 2011 ~ 2016

In [3]:
df2011 = pd.read_csv('/Users/lhs/Desktop/GitHub/NLP_pjt/data/2011.csv', index_col = 0)
df2012 = pd.read_csv('/Users/lhs/Desktop/GitHub/NLP_pjt/data/2012.csv', index_col = 0)
df2013 = pd.read_csv('/Users/lhs/Desktop/GitHub/NLP_pjt/data/2013.csv', index_col = 0)
df2014 = pd.read_csv('/Users/lhs/Desktop/GitHub/NLP_pjt/data/2014.csv', index_col = 0)
df2015 = pd.read_csv('/Users/lhs/Desktop/GitHub/NLP_pjt/data/2015.csv', index_col = 0)
df2016_1 = pd.read_csv('/Users/lhs/Desktop/GitHub/NLP_pjt/data/2016_1.csv', index_col = 0)
df2016_2 = pd.read_csv('/Users/lhs/Desktop/GitHub/NLP_pjt/data/2016_2(12.07).csv', index_col = 0)
df2016_3 = pd.read_csv('/Users/lhs/Desktop/GitHub/NLP_pjt/data/2016_3(12.07-).csv', index_col = 0)

In [4]:
df2011

          언론사           날짜                                         제목
0       에너지경제  2011.01.01.                         신년특집/ 지열, 솟아라 2011
1        서울신문  2011.01.01.        [서울신문 신년특집] 새해 경제 기상도 - 산업계 이렇게 바뀐다
2        동아일보      B4면 TOP           [경제계 신년사]“미래 성장동력 발굴해 경제성장 이어가자”
3        동아일보  2011.01.01.  [인문사회]‘제2의 개항’ FTA 시작과 끝… 막전막후 협상비화 상세 소개
4       헤럴드경제      A18면 2단                   실적·성장... 양 날개로... ‘퀀텀점프’
...       ...          ...                                        ...
15625    매일경제      15면 TOP                코스피, 1850선 후퇴…`깜짝실적` 삼성電 약세
15626    연합뉴스  2012.01.03.                   삼성 '갤럭시 노트' 국내 탄소성적표지 인증
15627    서울경제  2012.01.03.              삼성전자, 졸업∙입학 맞이 ‘삼성전자 아카데미’ 행사
15628  넥스트데일리        1면 1단                     잘 나가는 블루투스 헤드셋, 인기 비결은
15629    한국경제  2012.01.03.         [특징주]삼성전자 선전에도 IT株 '약세'…하이닉스는 '상승'

[184747 rows x 3 columns]

In [5]:
df2012

           언론사           날짜                                              제목
0         아주경제  2012.01.01.  <2012 증시전망> 신한금융투자 심재엽 투자전략팀장 "도광양회(韜光養晦)’의...
1          EBN  2012.01.01.                      유통업계 용띠 CEO 3인방 “올해는 나의 해”
2       헤럴드POP  2012.01.01.          <생생코스닥>유원컴텍, 삼성전자 中 법인으로부터 원가절감 금상 수상!
3         매일경제  2012.01.01.                         [오늘의 MBN] 다큐로 보는 이건희 회장
4         매일경제     A12면 TOP              유럽 K팝 열풍에 삼성 휴대폰·LG TV `내가 제일 잘나가`
...        ...          ...                                             ...
21645      뉴스1  2013.01.03.                 (특징주)삼성전자, 4분기 실적 예상치 충족..소폭 약세
21646   헤럴드POP  2013.01.03.                코스피, 나흘째 조정..삼성전자 호실적에도 ▼(09:05)
21647     연합뉴스  2013.01.03.                             2013년 글로벌 TV대전 불붙는다
21648     아주경제  2013.01.03.                            삼성전자 장중 150만원 붕괴(1보)
21649  SBS Biz  2013.01.03.                 [어닝시즌 개막]상장사 4분기 실적, IT 빼면 ‘우울’

[210999 rows x 3 columns]

In [6]:
df2011_2016 = pd.concat([df2011, df2012, df2013, df2014, df2015, df2016_1, df2016_2, df2016_3])
df2011_2016

          언론사           날짜                                         제목
0       에너지경제  2011.01.01.                         신년특집/ 지열, 솟아라 2011
1        서울신문  2011.01.01.        [서울신문 신년특집] 새해 경제 기상도 - 산업계 이렇게 바뀐다
2        동아일보      B4면 TOP           [경제계 신년사]“미래 성장동력 발굴해 경제성장 이어가자”
3        동아일보  2011.01.01.  [인문사회]‘제2의 개항’ FTA 시작과 끝… 막전막후 협상비화 상세 소개
4       헤럴드경제      A18면 2단                   실적·성장... 양 날개로... ‘퀀텀점프’
...       ...          ...                                        ...
17469  아시아투데이  2017.01.01.                 한국 경제리더 새해 화두는 '위기 극복과 혁신'
17470    전자신문      A12면 1단     특검, 이번 주 삼성 수뇌부 줄소환…최순실 특혜지원 관련, 대상자는?
17471    매일경제  2017.01.01.       [한경매물마당] 광진구 역세권 수익형 근린생활시설 빌딩 등 15건
17472   위클리오늘      A4면 TOP          [이코노 브리핑] 삼성, 분리세탁가능 ‘플렉스워시’ 공개 외
17473    신아일보  2017.01.01.              "트럼프 공약처럼…한국, 법인세율 내려야 경제 성장"

[1471346 rows x 3 columns]

In [8]:
df2011_2016.to_csv('2011_2016.csv')

# 전체 합하기

In [7]:
df = pd.concat([df1998_2010, df2011_2016, df2017_2022])
df

NameError: name 'df1998_2010' is not defined

In [109]:
df = df.reset_index().drop_duplicates().drop(columns=['index'])

In [110]:
df.to_csv('df_final.csv')

In [111]:
aa = pd.read_csv('df_final.csv')

In [112]:
aa

         Unnamed: 0   언론사           날짜                             제목
0                 0  연합뉴스  1998.05.20.                     주가 사흘째 상승세
1                 1  연합뉴스  1998.05.20.        아남텔레콤, PDA 데이터 전송서비스 개시
2                 2  연합뉴스  1998.05.20.        <회전목마> 삼성전자, 사이버 사외보 제작
3                 3  연합뉴스  1998.05.20.       <주식시황> 사흘째 상승, 3백70선 다가서
4                 4  연합뉴스  1998.05.20.          -춘계승마- 신창무,싼졸쥬마장마술 우승
...             ...   ...          ...                            ...
3851965     3851965  한국경제  2022.07.21.  디지털이미지뱅크, 한투등 3개사서 20억원 투자 유치
3851966     3851966  한국경제  2022.07.21.                   [코스닥공시] 세보기계
3851967     3851967  한국경제  2022.07.21.             전자.통신업체 신용등급도 급상승세
3851968     3851968  한국경제  2022.07.21.  종합주가 폭락세, 916.01(-37.21) 전장마감
3851969     3851969  한국경제  2022.07.21.  산자부, 수치제어장치 산.학.연 공동연구 개발에 성공

[3851970 rows x 4 columns]

In [113]:
aa.drop_duplicates()

         Unnamed: 0   언론사           날짜                             제목
0                 0  연합뉴스  1998.05.20.                     주가 사흘째 상승세
1                 1  연합뉴스  1998.05.20.        아남텔레콤, PDA 데이터 전송서비스 개시
2                 2  연합뉴스  1998.05.20.        <회전목마> 삼성전자, 사이버 사외보 제작
3                 3  연합뉴스  1998.05.20.       <주식시황> 사흘째 상승, 3백70선 다가서
4                 4  연합뉴스  1998.05.20.          -춘계승마- 신창무,싼졸쥬마장마술 우승
...             ...   ...          ...                            ...
3851965     3851965  한국경제  2022.07.21.  디지털이미지뱅크, 한투등 3개사서 20억원 투자 유치
3851966     3851966  한국경제  2022.07.21.                   [코스닥공시] 세보기계
3851967     3851967  한국경제  2022.07.21.             전자.통신업체 신용등급도 급상승세
3851968     3851968  한국경제  2022.07.21.  종합주가 폭락세, 916.01(-37.21) 전장마감
3851969     3851969  한국경제  2022.07.21.  산자부, 수치제어장치 산.학.연 공동연구 개발에 성공

[3851970 rows x 4 columns]