In [ ]:
import pandas as pd
import numpy as np
import FinanceDataReader as fdr

from tqdm.notebook import tqdm
import time

from datetime import datetime, timedelta

In [ ]:
df = pd.read_csv('/Users/lhs2/Desktop/df_final_Date_refine_add_blank.csv', index_col = 0).reset_index().drop(columns='index')
df = df.rename(columns = {'언론사':'Press', '날짜':'Date', '제목':'Title'})
stock_df = fdr.DataReader('005930')

df = df[df['Date'] >= str(stock_df.index[1])[:10]].reset_index().drop(columns='index')
df = df.groupby(['Date', 'Press']).sum()

df['Change'] = 'x'

In [ ]:
df

In [ ]:
if 1 in [1,2,3,4]:
    print('1')

In [ ]:
if df.index[-1][0] in stock_df.index:
    print('hi')

In [ ]:
news - timedelta(days=6)

In [ ]:
tem_list = []

for i in range(5):
    tem_list.append(i)
tem_list

In [ ]:
j = 0


for i in tqdm(stock_df.index[1:50]): 
    while True:
        date_list=[]
        j += 1
        stock = datetime.strptime(str(i), "%Y-%m-%d %H:%M:%S") # + timedelta(days=1) # datetime.datetime(1998, 5, 29, 0, 0) 형태로 변환
        news = datetime.strptime(df.index[j-1][0], "%Y-%m-%d") # + timedelta(days=1)
        print(j)
        print(stock)
        print(news)
        if stock > news:
            news = news + timedelta(days=1) # 휴일장, 주식 날짜 이하로 뉴스 모아서 label
            temp_list = []
            temp_list.append(news)
            date_list = temp_list + date_list
#             print('**1번 : ',stock, ' / ', news)
#             print('휴일장, list로 날짜 모으기')
            continue
        elif stock < news: # 장은 열렸지만, news는 없을 때
            j -= 1 # 보류, 날짜 유지, 뉴스기사 버리지 말아라
            stock = stock + timedelta(days=1)
#             if df.index[j-1][0] in stock_df.index:
#                 news = stock
            print('*******', stock, news)
            print('news 날짜에 맞는 주가 날짜 찾는 중')
            break
        elif news == stock:
            date_list
#             print('같은 경우 : ', stock, ' / ', news)
            print('해당 주가 날짜 + 1의 change 데이터로 label')
            break

    print("----------")

In [ ]:
for i in date_list:
    a = str(i)[:10]
    print(a)

In [ ]:
df.index[0][0].str.contains('1998')

In [38]:
df.index.get_level_values('Date').str.contains('1998-07-18', case=False)['Change'] = 'xxx'

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [54]:
df.loc[df.index.get_level_values('Date').str.contains('1998-07-18'), 'Change'] = '123'

In [55]:
df[df.index.get_level_values('Date').str.contains('1998-07-18')]

                                    Title Change
Date       Press
1998-07-18 연합뉴스   <주식시황> 주가 급등, 3백40선 탈환     123

In [42]:
df['Change'] = 'y'

In [43]:
df

                                                              Title Change
Date       Press
1998-05-27 연합뉴스   삼성전자, 한국HP 지분 45% 전량 매각 상장사 10개중 7개는 영업할수록 손해 ...      y
1998-05-28 연합뉴스   주가 상승세 삼성전자, 하나더 판촉 확대실시 <주식시황> 주가 상승 3백20선 회복...      y
1998-05-29 연합뉴스   < 6.4선거 이후의 과제 > ...(下) 대기업그룹별 현안 전자업계 수출드라이브,...      y
1998-05-30 연합뉴스   정보통신업계, `실직자를 잡아라' 주가 하락세 반전 삼성전자, 세계 공용 DVD 개...      y
1998-06-01 연합뉴스   <회전목마> 삼성전자, 인터넷잡지 창간 지난해 상장기업 수출 28.8% 증가 현대전...      y
...                                                             ...    ...
2022-07-18 연합뉴스   불경기에도 자동차.화장품 광고는 활발 <주식시황> 주가, 큰 폭 상승 삼성전자 정보...      y
2022-07-19 연합뉴스   반도체 업체들, 보따리장사로 골머리 주가 이틀째 급상승 三星電子, 세계 최경량 PC...      y
2022-07-20 연합뉴스   삼성전자 반도체 전문 서비스센터 개설 삼성전관, `6시그마운동' 설명회 개최 상장사...      y
2022-07-21 연합뉴스   D램 모듈 내수가격 큰 폭 하락 <표> 기업집단별.회사별 과징금 부과내역 공정위 조...      y
           한국경제   종합주가 개장초 등락장세 연출...9시30분 928.84(+0.09) 삼성전자 애니...      y

[702161 rows x 2 columns]

In [17]:
df.iloc[df.index.get_level_values('Date') == '1998-07-18']

                                    Title Change
Date       Press
1998-07-18 연합뉴스   <주식시황> 주가 급등, 3백40선 탈환       x