In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
train = pd.read_csv('train_data.csv')
test = pd.read_csv('test_data.csv')

In [6]:
print(train.shape, test.shape)

(3805, 6) (5732, 5)

In [3]:
x = train.drop(columns='covid19')
x

        id  age  gender  respiratory_condition  fever_or_muscle_pain
0        1   24  female                      0                     1
1        2   51    male                      0                     0
2        3   22    male                      0                     0
3        4   29  female                      1                     0
4        5   23    male                      0                     0
...    ...  ...     ...                    ...                   ...
3800  3801   53    male                      0                     0
3801  3802   25    male                      0                     0
3802  3803   26  female                      0                     0
3803  3804   27  female                      0                     0
3804  3805   49  female                      1                     1

[3805 rows x 5 columns]

In [7]:
x.shape

(3805, 5)

In [10]:
X = pd.concat([x, test], axis=0)
y = train.covid19

In [9]:
X

        id  age  gender  respiratory_condition  fever_or_muscle_pain
0        1   24  female                      0                     1
1        2   51    male                      0                     0
2        3   22    male                      0                     0
3        4   29  female                      1                     0
4        5   23    male                      0                     0
...    ...  ...     ...                    ...                   ...
5727  9533   43    male                      0                     0
5728  9534   48  female                      0                     1
5729  9535   44  female                      0                     0
5730  9536   25  female                      0                     0
5731  9537   17  female                      1                     1

[9537 rows x 5 columns]

In [12]:
y.value_counts()

0    3499
1     306
Name: covid19, dtype: int64