In [1]:
import pandas as pd
import numpy as np

from tqdm import tqdm
import time

from datetime import datetime, timedelta

In [2]:
df = pd.read_csv('df_final_Date_refine_add_blank.csv', index_col = 0).reset_index().drop(columns='index')

In [3]:
label = pd.read_csv('Label/005930_Label.csv').reset_index().drop(columns='index')

### 색깔 기능 추가

In [4]:
# def color_negative_red(val):
#     color = 'blue' if val == 0 else 'red'
#     return 'color: %s' % color

In [5]:
# label = label.style.applymap(color_negative_red, subset=pd.IndexSlice[:, ['Change']])
# label

In [6]:
df.제목[0]

'주가 사흘째 상승세 '

In [7]:
df = df.groupby(['날짜', '언론사']).sum().reset_index()
df

                날짜   언론사                                                 제목
0       1998-05-20  연합뉴스  주가 사흘째 상승세 아남텔레콤, PDA 데이터 전송서비스 개시 <회전목마> 삼성전자...
1       1998-05-21  연합뉴스  주가 3백70선 회복 `반도체업체는 여전히 안정된 직장' 휴대형 입체영상 모니터 국...
2       1998-05-22  연합뉴스  삼성디자인연구원, 전통유산 디자인 CD-롬 제작 주가 3백50대로 밀려 <확대경> ...
3       1998-05-23  연합뉴스  주가 소폭 반등 전자업계, 컨테이너 운송비용 인상에 반발 <주식시황> 주가 사흘만에...
4       1998-05-25  연합뉴스                  한도폐지 첫날 주가 하락세 주가, 11년만에 최저치로 폭락
...            ...   ...                                                ...
702162  2022-07-18  연합뉴스  불경기에도 자동차.화장품 광고는 활발 <주식시황> 주가, 큰 폭 상승 삼성전자 정보...
702163  2022-07-19  연합뉴스  반도체 업체들, 보따리장사로 골머리 주가 이틀째 급상승 三星電子, 세계 최경량 PC...
702164  2022-07-20  연합뉴스  삼성전자 반도체 전문 서비스센터 개설 삼성전관, `6시그마운동' 설명회 개최 상장사...
702165  2022-07-21  연합뉴스  D램 모듈 내수가격 큰 폭 하락 <표> 기업집단별.회사별 과징금 부과내역 공정위 조...
702166  2022-07-21  한국경제  종합주가 개장초 등락장세 연출...9시30분 928.84(+0.09) 삼성전자 애니...

[702167 rows x 3 columns]

In [8]:
df.날짜[0]

'1998-05-20'

In [9]:
label

            Date   Open   High    Low  Close    Volume  Change
0     1998-05-21   1130   1139   1061   1061    605730       0
1     1998-05-22   1029   1042   1014   1026    465530       0
2     1998-05-23   1051   1068   1033   1033    285990       1
3     1998-05-25    970   1020    912    912    456620       0
4     1998-05-26    875    893    837    847    422200       0
...          ...    ...    ...    ...    ...       ...     ...
5995  2022-07-21  61100  61900  60700  61800  12291374       1
5996  2022-07-22  61800  62200  61200  61300  10261310       0
5997  2022-07-25  60900  61900  60800  61100   9193681       0
5998  2022-07-26  60800  61900  60800  61700   6597211       1
5999  2022-07-27  61300  61900  61300  61300   2685024       0

[6000 rows x 7 columns]

In [10]:
# news = datetime.strptime(x, "%Y-%m-%d") + timedelta(days=1)
# stock = datetime.strptime(y, "%Y-%m-%d")

NameError: name 'x' is not defined

In [16]:
def change_of_next_day_of_stock_market(today):
    return_change = 0
    today = datetime.date.isoformat(datetime.date.fromisoformat(today) + datetime.timedelta(days=1)) # 하루 미룸
    while return_change == 0:
        try:
            if stock_df.loc[today]["Change"] > 0:
                return_change = 1 # 찾은 "Change" 열의 값이 > 0 이면 상승이니까 + 1을 반환
            else:
                return_change = -1 # 찾은 "Change" 열의 값이 < 0 이면 하락이니까 - 1을 반환
        except:
            today = datetime.date.isoformat(datetime.date.fromisoformat(today) + datetime.timedelta(days=1))
        # 삼성전자 데이터에서 날짜가 찾아지질 않으면 하루 더 미룸 while 때문에 찾아질 때까지 뒤로 하루씩 미룸
        return return_change

In [ ]:
df

In [17]:
'''
for i in tqdm(range(5))
    if (label_y = df_y) & (label_m = df_m) & (label_d = df_d):
        df['주가'][i] = label['Change'][i]
    elif 

df_y = df.날짜[0][0:4]
df_m = df.날짜[0][5:7]
df_d = df.날짜[0][8:10]

label_y = label.Date[0][0:4]
label_m = label.Date[0][5:7]
label_d = label.Date[0][8:10]
'''

"\nfor i in tqdm(range(5))\n    if (label_y = df_y) & (label_m = df_m) & (label_d = df_d):\n        df['주가'][i] = label['Change'][i]\n    elif \n\ndf_y = df.날짜[0][0:4]\ndf_m = df.날짜[0][5:7]\ndf_d = df.날짜[0][8:10]\n\nlabel_y = label.Date[0][0:4]\nlabel_m = label.Date[0][5:7]\nlabel_d = label.Date[0][8:10]\n"

In [ ]:
df_m

In [ ]:
df_date = datetime.now()

In [ ]:
df.reset_index()