In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [30]:
train = pd.read_csv('train_imputed_heatmap.csv')
train_identity_imputed = pd.read_csv('train_Identity_imputed.csv')
train_identity = pd.read_csv('train_identity.csv')
test = pd.read_csv('test_02.csv')


submission = pd.read_csv('sample_submission.csv')

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144228,3577521,-15.0,145955.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,F3111 Build/33.3.A.1.97
144229,3577526,-5.0,172059.0,NaN,NaN,1.0,-5.0,NaN,NaN,NaN,...,chrome 55.0 for android,32.0,855x480,match_status:2,T,F,T,F,mobile,A574BL Build/NMF26F
144230,3577529,-20.0,632381.0,NaN,NaN,-1.0,-36.0,NaN,NaN,NaN,...,chrome 65.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,Moto E (4) Plus Build/NMA26.42-152
144231,3577531,-5.0,55528.0,0.0,0.0,0.0,-7.0,NaN,NaN,0.0,...,chrome 66.0,24.0,2560x1600,match_status:2,T,F,T,F,desktop,MacOS
144232,3577534,-45.0,339406.0,NaN,NaN,-10.0,-100.0,NaN,NaN,NaN,...,chrome 66.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,RNE-L03 Build/HUAWEIRNE-L03

In [29]:
train_identity.drop(columns=['Unnamed: 0.1','Unnamed: 0'])

,D8,D6,D7,D9,D12,D13,D14,id_01,id_02,id_03,...,id_29.1,id_30.1,id_31.1,id_32.1,id_33.1,id_34.1,id_35.1,id_36.1,id_37.1,id_38.1
0,190.800000,7.0,1.6,0.000000,7.0,0.0,0.0,-8.0,214911.4,0.0,...,2.0,74.0,103.0,25.6,260.0,4.0,2.0,2.0,2.0,2.0
1,190.800000,7.0,1.6,0.000000,7.0,0.0,0.0,-8.0,214911.4,0.0,...,2.0,74.0,103.0,25.6,260.0,4.0,2.0,2.0,2.0,2.0
2,190.800000,7.0,1.6,0.000000,7.0,0.0,0.0,-8.0,214911.4,0.0,...,2.0,74.0,103.0,25.6,260.0,4.0,2.0,2.0,2.0,2.0
3,190.800000,7.0,1.6,0.000000,7.0,0.0,0.0,-8.0,214911.4,0.0,...,2.0,74.0,103.0,25.6,260.0,4.0,2.0,2.0,2.0,2.0
4,305.458339,7.0,34.2,0.258333,7.0,18.0,0.0,0.0,70787.0,1.2,...,1.0,7.0,124.0,32.0,164.0,3.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,180.358339,0.4,18.4,0.958333,0.4,0.0,141.2,-18.0,253451.6,0.0,...,2.0,74.0,103.0,27.2,260.0,4.0,2.0,2.0,2.0,2.0
590536,180.358339,0.4,18.4,0.958333,0.4,0.0,141.2,-18.0,253451.6,0.0,...,2.0,74.0,103.0,27.2,260.0,4.0,2.0,2.0,2.0,2.0
590537,180.358339,0.4,18.4,0.958333,0.4,0.0,141.2,-18.0,253451.6,0.0,...,2.0,74.0,103.0,27.2,260.0,4.0,2.0,2.0,2.0,2.0
590538,180.358339,0.4,18.4,0.958333,0.4,0.0,141.2,-18.0,253451.6,0.0,...,2.0,74.0,103.0,27.2,260.0,4.0,2.0,2.0,2.0,2.0
590539,180.358339,0.4,18.4,0.958333,0.4,0.0,141.2,-18.0,253451.6,0.0,...,2.0,74.0,103.0,27.2,260.0,4.0,2.0,2.0,2.0,2.0

In [3]:
print(train.shape)
print(test.shape)
print(submission.shape)

(590540, 79)
(506691, 156)
(506691, 2)

In [12]:
train

,Unnamed: 0,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,...,V287,V288,V289,V291,V304,V303,V310,V312,V315,V314
0,0,2987000.0,0.0,86400.0,68.500000,4.0,13926.0,441.0,150.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0000,0.0,0.0000,0.0000
1,1,2987001.0,0.0,86401.0,29.000000,4.0,2755.0,404.0,150.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0000,0.0,0.0000,0.0000
2,2,2987002.0,0.0,86469.0,59.000000,4.0,4663.0,490.0,150.0,4.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0000,0.0,0.0000,0.0000
3,3,2987003.0,0.0,86499.0,50.000000,4.0,18132.0,567.0,150.0,2.0,...,4.0,0.0,0.0,1.0,0.0,0.0,354.0000,135.0,0.0000,0.0000
4,4,2987004.0,0.0,86506.0,50.000000,1.0,4497.0,514.0,150.0,2.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0000,0.0,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,590535,3577535.0,0.0,15811047.0,49.000000,4.0,6550.0,523.8,150.0,4.0,...,0.0,1.0,1.0,1.0,0.0,0.0,47.9375,0.0,47.9375,47.9375
590536,590536,3577536.0,0.0,15811049.0,39.500000,4.0,10444.0,225.0,150.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0000,0.0,0.0000,0.0000
590537,590537,3577537.0,0.0,15811079.0,30.953125,4.0,12037.0,595.0,150.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0000,0.0,0.0000,0.0000
590538,590538,3577538.0,0.0,15811088.0,117.000000,4.0,7826.0,481.0,150.0,2.0,...,1.0,1.0,1.0,2.0,0.0,0.0,669.5000,117.0,317.5000,669.5000
590539,590539,3577539.0,0.0,15811131.0,280.000000,4.0,15066.0,170.0,150.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0000,0.0,0.0000,0.0000

In [42]:
X_train = train.drop(['Unnamed: 0','isFraud'], axis=1)
X_test = test.drop(['Unnamed: 0','TransactionID'],axis=1)
y_train = train.isFraud
y_test = test.drop(['Unnamed: 0'],axis=1)
y_test

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,V304,V306,V307,V308,V310,V312,V313,V314,V315,V317
0,3663549,18403224,31.950,W,10409,111.0,150.0,visa,226.0,debit,...,0.0,0.000000,47.950001,0.000000,47.950001,0.000000,0.000000,0.000000,0.000000,0.0
1,3663550,18403263,49.000,W,4272,111.0,150.0,visa,226.0,debit,...,0.0,0.000000,280.000000,77.000000,280.000000,77.000000,0.000000,0.000000,0.000000,0.0
2,3663551,18403310,171.000,W,4476,574.0,150.0,visa,226.0,debit,...,0.0,0.000000,1321.000000,0.000000,1058.000000,0.000000,0.000000,0.000000,0.000000,0.0
3,3663552,18403310,284.950,W,10989,360.0,150.0,visa,166.0,debit,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,282.540009,282.540009,282.540009,0.0
4,3663553,18403317,67.950,W,18018,452.0,150.0,mastercard,117.0,debit,...,0.0,67.949997,183.850006,67.949997,183.850006,67.949997,67.949997,183.850006,67.949997,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
506686,4170235,34214279,94.679,C,13832,375.0,185.0,mastercard,224.0,debit,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
506687,4170236,34214287,12.173,C,3154,408.0,185.0,mastercard,224.0,debit,...,1.0,0.000000,31.723700,0.000000,31.723700,0.000000,31.723700,31.723700,31.723700,0.0
506688,4170237,34214326,49.000,W,16661,490.0,150.0,visa,226.0,debit,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
506689,4170238,34214337,202.000,W,16621,516.0,150.0,mastercard,224.0,debit,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
506690,4170239,34214345,24.346,C,5713,168.0,144.0,visa,147.0,credit,...,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [ ]:
test.select_dtypes('object').columns

In [ ]:
le = LabelEncoder()
le.fit(test.ProductCD)
# le.classes_
# le.transform(['C', 'H', 'R', 'S', 'W'])
test.ProductCD = le.transform(test.ProductCD)

In [ ]:
'''
le.fit(test.card4)
test.card4 = le.transform(test.card4)

le.fit(test.card6)
test.card6 = le.transform(test.card6)

le.fit(test.P_emaildomain)
test.P_emaildomain = le.transform(test.P_emaildomain)

le.fit(test.M1)
test.M1 = le.transform(test.M1)

le.fit(test.M2)
test.M2 = le.transform(test.M2)

le.fit(test.M3)
test.M3 = le.transform(test.M3)

le.fit(test.M4)
test.M4 = le.transform(test.M4)

le.fit(test.M5)
test.M5 = le.transform(test.M5)

le.fit(test.M6)
test.M6 = le.transform(test.M6)

le.fit(test.M7)
test.M7 = le.transform(test.M7)

le.fit(test.M8)
test.M8 = le.transform(test.M8)

le.fit(test.M9)
test.M9 = le.transform(test.M9)
'''

In [44]:
# X_train, X_test, y_train, y_test = train_test_split(X_features, y_label) # , test_size = 0.25, random_state = 32)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(590540, 77)
(506691, 155)
(590540,)
(506691, 155)

In [22]:
model = XGBClassifier(n_estimators = 500, learning_rate = 0.2, max_depth = 4)
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.2, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=4, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=500,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [26]:
y_pred = model.predict(X_test)
accuracy_score(y_pred, y_test)

0.9795509194974091

In [32]:
test['isFraud'] = model.predict(X_test)

ValueError: Length of values (147635) does not match length of index (506691)

In [ ]:
# print(confusion_matrix(y_test, y_preds))
# print(classification_report(y_test, y_preds))
# print(roc_auc_score(y_test, y_preds))

In [ ]:
test[['TransactionID','isFraud']]