In [1]:
import pandas as pd
import numpy as np

from tqdm import tqdm
import time

In [2]:
df = pd.read_csv('df_final.csv', index_col = 0).reset_index().drop(columns='index')

In [3]:
df

          언론사           날짜                             제목
0        연합뉴스  1998.05.20.                     주가 사흘째 상승세
1        연합뉴스  1998.05.20.        아남텔레콤, PDA 데이터 전송서비스 개시
2        연합뉴스  1998.05.20.        <회전목마> 삼성전자, 사이버 사외보 제작
3        연합뉴스  1998.05.20.       <주식시황> 사흘째 상승, 3백70선 다가서
4        연합뉴스  1998.05.20.          -춘계승마- 신창무,싼졸쥬마장마술 우승
...       ...          ...                            ...
3851965  한국경제  2022.07.21.  디지털이미지뱅크, 한투등 3개사서 20억원 투자 유치
3851966  한국경제  2022.07.21.                   [코스닥공시] 세보기계
3851967  한국경제  2022.07.21.             전자.통신업체 신용등급도 급상승세
3851968  한국경제  2022.07.21.  종합주가 폭락세, 916.01(-37.21) 전장마감
3851969  한국경제  2022.07.21.  산자부, 수치제어장치 산.학.연 공동연구 개발에 성공

[3851970 rows x 3 columns]

In [4]:
# df = df.set_index(['날짜'])

In [5]:
# df = df.groupby('날짜').apply(print)

In [6]:
# df

## 날짜 변환

In [7]:
# 199, 200, 201, 202 를 포함하지 않는 날짜값들 NaN 처리

df.loc[df["날짜"].str.contains('199|200|201|202')==False, '날짜'] = np.nan
df

          언론사           날짜                             제목
0        연합뉴스  1998.05.20.                     주가 사흘째 상승세
1        연합뉴스  1998.05.20.        아남텔레콤, PDA 데이터 전송서비스 개시
2        연합뉴스  1998.05.20.        <회전목마> 삼성전자, 사이버 사외보 제작
3        연합뉴스  1998.05.20.       <주식시황> 사흘째 상승, 3백70선 다가서
4        연합뉴스  1998.05.20.          -춘계승마- 신창무,싼졸쥬마장마술 우승
...       ...          ...                            ...
3851965  한국경제  2022.07.21.  디지털이미지뱅크, 한투등 3개사서 20억원 투자 유치
3851966  한국경제  2022.07.21.                   [코스닥공시] 세보기계
3851967  한국경제  2022.07.21.             전자.통신업체 신용등급도 급상승세
3851968  한국경제  2022.07.21.  종합주가 폭락세, 916.01(-37.21) 전장마감
3851969  한국경제  2022.07.21.  산자부, 수치제어장치 산.학.연 공동연구 개발에 성공

[3851970 rows x 3 columns]

In [8]:
df.info(null_counts=True)

/var/folders/1d/lfkpl6ps02xgh0rdprtbmgvw0000gn/T/ipykernel_2442/1982639406.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3851970 entries, 0 to 3851969
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   언론사     3851970 non-null  object
 1   날짜      3560705 non-null  object
 2   제목      3851970 non-null  object
dtypes: object(3)
memory usage: 88.2+ MB

In [9]:
# NaN값 앞 데이터로 채우기
df.fillna(method='ffill', inplace=True)
df

          언론사           날짜                             제목
0        연합뉴스  1998.05.20.                     주가 사흘째 상승세
1        연합뉴스  1998.05.20.        아남텔레콤, PDA 데이터 전송서비스 개시
2        연합뉴스  1998.05.20.        <회전목마> 삼성전자, 사이버 사외보 제작
3        연합뉴스  1998.05.20.       <주식시황> 사흘째 상승, 3백70선 다가서
4        연합뉴스  1998.05.20.          -춘계승마- 신창무,싼졸쥬마장마술 우승
...       ...          ...                            ...
3851965  한국경제  2022.07.21.  디지털이미지뱅크, 한투등 3개사서 20억원 투자 유치
3851966  한국경제  2022.07.21.                   [코스닥공시] 세보기계
3851967  한국경제  2022.07.21.             전자.통신업체 신용등급도 급상승세
3851968  한국경제  2022.07.21.  종합주가 폭락세, 916.01(-37.21) 전장마감
3851969  한국경제  2022.07.21.  산자부, 수치제어장치 산.학.연 공동연구 개발에 성공

[3851970 rows x 3 columns]

In [10]:
df.info(null_counts=True)

/var/folders/1d/lfkpl6ps02xgh0rdprtbmgvw0000gn/T/ipykernel_2442/1982639406.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3851970 entries, 0 to 3851969
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   언론사     3851970 non-null  object
 1   날짜      3851970 non-null  object
 2   제목      3851970 non-null  object
dtypes: object(3)
memory usage: 88.2+ MB

In [11]:
# 혹시 모를 날짜 형식이 아닌 숫자값 확인

df["날짜"] = df["날짜"].str.replace(".", "-") 
# df.날짜.astype(int).sort_values()

/var/folders/1d/lfkpl6ps02xgh0rdprtbmgvw0000gn/T/ipykernel_2442/851316727.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["날짜"] = df["날짜"].str.replace(".", "-")

In [12]:
for i in tqdm(range(3851970)):
    df.날짜[i] = df.날짜[i].rstrip('-')

100%|██████████████████████████████| 3851970/3851970 [03:36<00:00, 17794.39it/s]

In [34]:
df_ = pd.read_csv('df_final_Date_refine.csv', index_col = 0).reset_index().drop(columns='index')
df_

          언론사          날짜                             제목
0        연합뉴스  1998-05-20                     주가 사흘째 상승세
1        연합뉴스  1998-05-20        아남텔레콤, PDA 데이터 전송서비스 개시
2        연합뉴스  1998-05-20        <회전목마> 삼성전자, 사이버 사외보 제작
3        연합뉴스  1998-05-20       <주식시황> 사흘째 상승, 3백70선 다가서
4        연합뉴스  1998-05-20          -춘계승마- 신창무,싼졸쥬마장마술 우승
...       ...         ...                            ...
3851965  한국경제  2022-07-21  디지털이미지뱅크, 한투등 3개사서 20억원 투자 유치
3851966  한국경제  2022-07-21                   [코스닥공시] 세보기계
3851967  한국경제  2022-07-21             전자.통신업체 신용등급도 급상승세
3851968  한국경제  2022-07-21  종합주가 폭락세, 916.01(-37.21) 전장마감
3851969  한국경제  2022-07-21  산자부, 수치제어장치 산.학.연 공동연구 개발에 성공

[3851970 rows x 3 columns]

In [43]:
# 기사 합했을 때 앞과 뒤 텍스트 붙는 것 방지 (공백 1칸 추가)

for i in tqdm(range(3851970)):
    df_.제목[i] = df_.제목[i].ljust(len(df_.제목[i])+1)

100%|██████████████████████████████| 3851970/3851970 [03:54<00:00, 16444.65it/s]

In [50]:
df_

          언론사          날짜                              제목
0        연합뉴스  1998-05-20                     주가 사흘째 상승세
1        연합뉴스  1998-05-20        아남텔레콤, PDA 데이터 전송서비스 개시
2        연합뉴스  1998-05-20        <회전목마> 삼성전자, 사이버 사외보 제작
3        연합뉴스  1998-05-20       <주식시황> 사흘째 상승, 3백70선 다가서
4        연합뉴스  1998-05-20          -춘계승마- 신창무,싼졸쥬마장마술 우승
...       ...         ...                             ...
3851965  한국경제  2022-07-21  디지털이미지뱅크, 한투등 3개사서 20억원 투자 유치
3851966  한국경제  2022-07-21                   [코스닥공시] 세보기계
3851967  한국경제  2022-07-21             전자.통신업체 신용등급도 급상승세
3851968  한국경제  2022-07-21  종합주가 폭락세, 916.01(-37.21) 전장마감
3851969  한국경제  2022-07-21  산자부, 수치제어장치 산.학.연 공동연구 개발에 성공

[3851970 rows x 3 columns]

In [53]:
df_.to_csv('df_final_Date_refine_add_blank.csv')

In [35]:
# df_.제목[0].ljust(len(df_.제목[0])+1)

'주가 사흘째 상승세 '

In [52]:
df_.제목[30]

'주가 대폭락, 증시공황 우려감 팽배 '