In [1]:
pip install -U finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.34-py3-none-any.whl (17 kB)
Requirement already satisfied: lxml in /Users/lhs/miniforge3/envs/lhs/lib/python3.8/site-packages (from finance-datareader) (4.9.1)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: requests>=2.3.0 in /Users/lhs/miniforge3/envs/lhs/lib/python3.8/site-packages (from finance-datareader) (2.28.1)
Requirement already satisfied: tqdm in /Users/lhs/miniforge3/envs/lhs/lib/python3.8/site-packages (from finance-datareader) (4.64.0)
Requirement already satisfied: pandas>=0.19.2 in /Users/lhs/miniforge3/envs/lhs/lib/python3.8/site-packages (from finance-datareader) (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/lhs/miniforge3/envs/lhs/lib/python3.8/site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/lhs/miniforge3/envs/lhs/lib/python3.8/site-packages (from pandas>=0.19.2->finance-datareader) (2022.1)
Requirement already satisfied: numpy>=1.20.0 in /Users/lhs/miniforge3/envs/lhs/lib/python3.8/site-packages (from pandas>=0.19.2->finance-datareader) (1.23.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/lhs/miniforge3/envs/lhs/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/lhs/miniforge3/envs/lhs/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (2022.6.15)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/lhs/miniforge3/envs/lhs/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (2.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/lhs/miniforge3/envs/lhs/lib/python3.8/site-packages (from requests>=2.3.0->finance-datareader) (1.26.11)
Requirement already satisfied: six in /Users/lhs/miniforge3/envs/lhs/lib/python3.8/site-packages (from requests-file->finance-datareader) (1.16.0)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.34 requests-file-1.5.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import FinanceDataReader as fdr

In [6]:
df = fdr.DataReader('005930')

In [8]:
df

             Open   High    Low  Close    Volume    Change
Date
1998-05-20   1145   1161   1126   1130    352676       NaN
1998-05-21   1130   1139   1061   1061    605730 -0.061062
1998-05-22   1029   1042   1014   1026    465530 -0.032988
1998-05-23   1051   1068   1033   1033    285990  0.006823
1998-05-25    970   1020    912    912    456620 -0.117135
...           ...    ...    ...    ...       ...       ...
2022-07-20  61800  62100  60500  60500  16782238 -0.006568
2022-07-21  61100  61900  60700  61800  12291374  0.021488
2022-07-22  61800  62200  61200  61300  10261310 -0.008091
2022-07-25  60900  61900  60800  61100   9193681 -0.003263
2022-07-26  60800  61600  60800  61400   4056959  0.004910

[6000 rows x 6 columns]