In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import urllib.request
from konlpy.tag import Okt
from tqdm import tqdm
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

import json
import os

## 데이터 로드하기 1
train_label
 - TL_span_extraction
 - TL_span_inference
 - TL_text_entailment
 - TL_unanswerable
 
train_raw
 - TS_span_extraction
 - TS_span_inference
 - TS_text_entailment
 - TS_unanswerable

### train

In [2]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_span_extraction_.json', 'r', encoding='utf-8') as tl_jsonfile1:
    data = json.load(tl_jsonfile1, strict=False)
df_tl1 = pd.DataFrame([data])
df_tl1.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01601101.20210325201932006', 'doc..."

In [3]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_span_inference_.json', 'r', encoding='utf-8') as tl_jsonfile2:
    data = json.load(tl_jsonfile2, strict=False)
df_tl2 = pd.DataFrame([data])
df_tl2.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01400601.20210325223148001', 'doc..."

In [4]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_text_entailment.json', 'r', encoding='utf-8') as tl_jsonfile3:
    data = json.load(tl_jsonfile3)
df_tl3 = pd.DataFrame([data])
df_tl3.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210502175653001', 'doc..."

In [5]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as tl_jsonfile4:
    data = json.load(tl_jsonfile4)
df_tl4 = pd.DataFrame([data])
df_tl4.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

### raw

In [6]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as ts_jsonfile1:
    data = json.load(ts_jsonfile1)
df_ts1 = pd.DataFrame([data])
df_ts1.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [7]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as ts_jsonfile2:
    data = json.load(ts_jsonfile2)
df_ts2 = pd.DataFrame([data])
df_ts2.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [8]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as ts_jsonfile3:
    data = json.load(ts_jsonfile3)
df_ts3 = pd.DataFrame([data])
df_ts3.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [9]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as ts_jsonfile4:
    data = json.load(ts_jsonfile4)
df_ts4 = pd.DataFrame([data])
df_ts4.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

## 데이터 로드하기 2
val_label
 - VL_span_extraction
 - VL_span_inference
 - VL_text_entailment
 - VL_unanswerable
 
val_raw
 - VS_span_extraction
 - VS_span_inference
 - VS_text_entailment
 - VS_unanswerable

### label

In [10]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vl_jsonfile1:
    data = json.load(vl_jsonfile1)
df_vl1 = pd.DataFrame([data])
df_vl1.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [11]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vl_jsonfile2:
    data = json.load(vl_jsonfile2)
df_vl2 = pd.DataFrame([data])
df_vl2.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [12]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vl_jsonfile3:
    data = json.load(vl_jsonfile3)
df_vl3 = pd.DataFrame([data])
df_vl3.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [13]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vl_jsonfile4:
    data = json.load(vl_jsonfile4)
df_vl4 = pd.DataFrame([data])
df_vl4.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

### raw

In [14]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vs_jsonfile1:
    data = json.load(vs_jsonfile1)
df_vs1 = pd.DataFrame([data])
df_vs1.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [15]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vs_jsonfile2:
    data = json.load(vs_jsonfile2)
df_vs2 = pd.DataFrame([data])
df_vs2.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [16]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vs_jsonfile3:
    data = json.load(vs_jsonfile3)
df_vs3 = pd.DataFrame([data])
df_vs3.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [17]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vs_jsonfile4:
    data = json.load(vs_jsonfile4)
df_vs4 = pd.DataFrame([data])
df_vs4.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

## train label data 2개의 오류는 json 파일에서 직접 수정해 주었다

In [18]:
from pandas import json_normalize

json_normalize(df_tl1['Dataset'])

,Identifier,name,src_path,label_path,category,type
0,TEXT_QnA_News_01,뉴스기사 대상 기계독해 데이터,/dataSet/text/,/dataSet/text/,2,0

1

In [27]:
test = json_normalize(df_tl1['data'][0])

In [33]:
test.loc[16].paragraphs

[{'context': '새만금개발청(청장 양충모)이 오는 5월 24일까지 새만금 권역에서 생산한 재생에너지를 기반으로 새만금형 RE100 사업을 실현할 첨단 제조기업을 공모한다. \n\n새만금형 RE100 사업은 새만금 국가산단 내에 입주할 제조기업이 새만금 권역에서 직접 생산된 재생에너지를 이용하는 것으로, 물리적으로 인접한 한 곳에서 재생에너지가 생산되고 소비되는 산업생태계가 국내 최초로 새만금에 구축된다. \n\n이번 공모는 지난해 7월 발표된 한국판 뉴딜 종합계획에 발맞춰 미래지향적으로 탄소 중립을 실현하고, 새만금 스마트 그린 산단 정책을 선도적으로 이끄는 첨단 제조기업을 유치하기 위해 마련됐다. \n\n참여를 희망하는 사업자는 첨단업종의 제조기업으로서 RE100을 이행해야 하며, 3000억 원 이상을 투자하고 300명 이상을 상시 고용해야 한다. \n\n새만금개발청은 이번 사업을 통해 대규모의 첨단 제조기업을 유치하여 지역경제를 활성화하고, RE100 캠페인 참여 기업들을 육성함으로써 새만금 국가산단이 스마트 그린 산단으로 자리매김할 수 있을 것으로 기대하고 있다. \n\n은 “이번 사업이 새만금 국가산단을 미래지향적 탄소 중립 중심지로서 입지를 다질 수 있는 마중물이 될 것으로 기대한다”면서 “새만금 국가산단에 입주한 기업들이 RE100을 실현하는 기업의 성공 모델이 될 수 있도록 제도개선과 지원을 아끼지 않겠다”고 밝혔다.',
  'qas': [{'qa_type': 1,
    'question_id': 4559314,
    'question': '새만금형 사업에 참여하는 기업이 투자하는 금액은 얼마야',
    'is_impossible': False,
    'answers': {'text': '3000억 원 이상',
     'answer_start': 372,
     'clue_start': None,
     'clue_text': None,
     'options': None}},
   {'qa_type': 1,
    'question_id': 4690384,
    'question': '어느 정도의 비용을 회사들이 새만금형 사업에 참가하게 되면서 들이려고 해',
    'is_impossible': False,
    'answers': {'text': '3000억 원 이상',
     'answer_start': 372,
     'clue_start': None,
     'clue_text': None,
     'options': None}}],
  'context_id': 464147}]

In [20]:
json_normalize(df['Dataset'])

NameError: name 'df' is not defined

In [ ]:
json_normalize(df_s.data[0])

In [ ]:
json_normalize(df.data[0])