In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import urllib.request
from konlpy.tag import Okt
from tqdm import tqdm
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

import json
import os

## 데이터 로드하기 1
train_label
 - TL_span_extraction
 - TL_span_inference
 - TL_text_entailment
 - TL_unanswerable
 
train_raw
 - TS_span_extraction
 - TS_span_inference
 - TS_text_entailment
 - TS_unanswerable

### train

In [2]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_span_extraction_.json', 'r', encoding='utf-8') as tl_jsonfile1:
    data = json.load(tl_jsonfile1, strict=False)
df_tl1 = pd.DataFrame([data])
df_tl1.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01601101.20210325201932006', 'doc..."

In [3]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_span_inference_.json', 'r', encoding='utf-8') as tl_jsonfile2:
    data = json.load(tl_jsonfile2, strict=False)
df_tl2 = pd.DataFrame([data])
df_tl2.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01400601.20210325223148001', 'doc..."

In [4]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_text_entailment.json', 'r', encoding='utf-8') as tl_jsonfile3:
    data = json.load(tl_jsonfile3)
df_tl3 = pd.DataFrame([data])
df_tl3.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210502175653001', 'doc..."

In [5]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as tl_jsonfile4:
    data = json.load(tl_jsonfile4)
df_tl4 = pd.DataFrame([data])
df_tl4.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

### raw

In [6]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as ts_jsonfile1:
    data = json.load(ts_jsonfile1)
df_ts1 = pd.DataFrame([data])
df_ts1.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [7]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as ts_jsonfile2:
    data = json.load(ts_jsonfile2)
df_ts2 = pd.DataFrame([data])
df_ts2.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [8]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as ts_jsonfile3:
    data = json.load(ts_jsonfile3)
df_ts3 = pd.DataFrame([data])
df_ts3.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [9]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as ts_jsonfile4:
    data = json.load(ts_jsonfile4)
df_ts4 = pd.DataFrame([data])
df_ts4.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

## 데이터 로드하기 2
val_label
 - VL_span_extraction
 - VL_span_inference
 - VL_text_entailment
 - VL_unanswerable
 
val_raw
 - VS_span_extraction
 - VS_span_inference
 - VS_text_entailment
 - VS_unanswerable

### label

In [10]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vl_jsonfile1:
    data = json.load(vl_jsonfile1)
df_vl1 = pd.DataFrame([data])
df_vl1.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [11]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vl_jsonfile2:
    data = json.load(vl_jsonfile2)
df_vl2 = pd.DataFrame([data])
df_vl2.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [12]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vl_jsonfile3:
    data = json.load(vl_jsonfile3)
df_vl3 = pd.DataFrame([data])
df_vl3.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [13]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vl_jsonfile4:
    data = json.load(vl_jsonfile4)
df_vl4 = pd.DataFrame([data])
df_vl4.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

### raw

In [14]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vs_jsonfile1:
    data = json.load(vs_jsonfile1)
df_vs1 = pd.DataFrame([data])
df_vs1.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [15]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vs_jsonfile2:
    data = json.load(vs_jsonfile2)
df_vs2 = pd.DataFrame([data])
df_vs2.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [16]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vs_jsonfile3:
    data = json.load(vs_jsonfile3)
df_vs3 = pd.DataFrame([data])
df_vs3.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

In [17]:
with open('/Users/lhs/Desktop/GitHub/NLP_pjt/data/train/label/TL_unanswerable.json', 'r', encoding='utf-8') as vs_jsonfile4:
    data = json.load(vs_jsonfile4)
df_vs4 = pd.DataFrame([data])
df_vs4.head()

,Dataset,data
0,"{'Identifier': 'TEXT_QnA_News_01', 'name': '뉴스...","[{'doc_id': '01100201.20210225173715002', 'doc..."

## train label data 2개의 오류는 json 파일에서 직접 수정해 주었다

In [28]:
from pandas import json_normalize

json_normalize(df_tl1['Dataset'])

,Identifier,name,src_path,label_path,category,type
0,TEXT_QnA_News_01,뉴스기사 대상 기계독해 데이터,/dataSet/text/,/dataSet/text/,2,0

In [30]:
json_normalize(df_tl1['data'][0])

,doc_id,doc_title,doc_source,doc_published,created,paragraphs,doc_class.class,doc_class.code
0,01601101.20210325201932006,"익산 서부권역 다목적 체육관, 다음달 개관",전북일보,20210325,20211217142431,[{'context': '익산시 서부권역 다목적 체육관이 내달 개관을 앞두고 막바지...,한국언론진흥재단 빅카인즈 뉴스기사,스포츠
1,01601101.20210325201933005,"무주군건강가정·다문화가족지원센터, '아빠하고 나하고' 프로그램 운영",전북일보,20210325,20211217142431,[{'context': '무주군건강가정ㆍ다문화가족지원센터(센터장 장진원)가 아버지와...,한국언론진흥재단 빅카인즈 뉴스기사,지역
2,01601101.20210325201936001,양희은의 '뜻밖의 만남',전북일보,20210325,20211217142431,[{'context': '양희은의 노래 <엄마가 딸에게>는 엄마와 딸이 차마 말하지...,한국언론진흥재단 빅카인즈 뉴스기사,문화
3,01601101.20210325201935006,전북 산업단지 대개조 지역경제 도약 기회로,전북일보,20210325,20211217142431,[{'context': '군산ㆍ익산ㆍ완주지역의 노후 산업단지에 내년부터 3년간 국비...,한국언론진흥재단 빅카인즈 뉴스기사,IT과학
4,01601101.20210325201941001,익산 함라면 야산서 불… 신원 미상 남성 시신 1구 발견,전북일보,20210325,20211217142431,[{'context': '25일 오전 11시 35분께 익산시 함라면의 한 야산에서 ...,한국언론진흥재단 빅카인즈 뉴스기사,사회
...,...,...,...,...,...,...,...,...
111962,01600801.20210610172709001,화물연대 전남지부 출하운송 중단…광양지역 업체들 '발동동',전남일보,20210610,20211217143553,[{'context': '화물연대 전남지부가 광양지역 운송사의 하치장을 봉쇄하는 등...,한국언론진흥재단 빅카인즈 뉴스기사,기타
111963,01600801.20210610182253001,광주전남 첫 델타 변이 확진자 …방역 구멍,전남일보,20210609,20211217143553,[{'context': '광주 ·전남지역에서 처음으로 델타 변이 바이러스 감염자가 ...,한국언론진흥재단 빅카인즈 뉴스기사,기타
111964,01600801.20210610162738001,"여수시, 자산공원·선원동 현충탑 통합 건립 추진",전남일보,20210610,20211217143553,[{'context': '권오봉 여수시장이 지난 6일 자산공원 현충탑에서 개최된 제...,한국언론진흥재단 빅카인즈 뉴스기사,기타
111965,01600801.20210610161625001,"'한국화 대가' 하철경 화백, 진도에 작품 150점 기증",전남일보,20210610,20211217143553,[{'context': '임농 하철경 화백(61)은 한국화를 현대적 점묘화법 형태로...,한국언론진흥재단 빅카인즈 뉴스기사,기타
111966,01600801.20210610140606002,광주대 장기근속자·스승의날 유공 장관 표창 전수식,전남일보,20210610,20211217143553,[{'context': '광주대학교(총장 김혁종)는 지난 9일 학교 행정관 회의실에...,한국언론진흥재단 빅카인즈 뉴스기사,기타

In [ ]:
json_normalize(df['Dataset'])

In [ ]:
json_normalize(df_s.data[0])

In [ ]:
json_normalize(df.data[0])