In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('df_final.csv', index_col = 0).reset_index().drop(columns='index')

In [3]:
df

          언론사           날짜                             제목
0        연합뉴스  1998.05.20.                     주가 사흘째 상승세
1        연합뉴스  1998.05.20.        아남텔레콤, PDA 데이터 전송서비스 개시
2        연합뉴스  1998.05.20.        <회전목마> 삼성전자, 사이버 사외보 제작
3        연합뉴스  1998.05.20.       <주식시황> 사흘째 상승, 3백70선 다가서
4        연합뉴스  1998.05.20.          -춘계승마- 신창무,싼졸쥬마장마술 우승
...       ...          ...                            ...
3851965  한국경제  2022.07.21.  디지털이미지뱅크, 한투등 3개사서 20억원 투자 유치
3851966  한국경제  2022.07.21.                   [코스닥공시] 세보기계
3851967  한국경제  2022.07.21.             전자.통신업체 신용등급도 급상승세
3851968  한국경제  2022.07.21.  종합주가 폭락세, 916.01(-37.21) 전장마감
3851969  한국경제  2022.07.21.  산자부, 수치제어장치 산.학.연 공동연구 개발에 성공

[3851970 rows x 3 columns]

In [5]:
# 199, 200, 201, 202 를 포함하지 않는 날짜값들 NaN 처리

df.loc[df["날짜"].str.contains('199|200|201|202')==False, '날짜'] = np.nan
df

          언론사           날짜                             제목
0        연합뉴스  1998.05.20.                     주가 사흘째 상승세
1        연합뉴스  1998.05.20.        아남텔레콤, PDA 데이터 전송서비스 개시
2        연합뉴스  1998.05.20.        <회전목마> 삼성전자, 사이버 사외보 제작
3        연합뉴스  1998.05.20.       <주식시황> 사흘째 상승, 3백70선 다가서
4        연합뉴스  1998.05.20.          -춘계승마- 신창무,싼졸쥬마장마술 우승
...       ...          ...                            ...
3851965  한국경제  2022.07.21.  디지털이미지뱅크, 한투등 3개사서 20억원 투자 유치
3851966  한국경제  2022.07.21.                   [코스닥공시] 세보기계
3851967  한국경제  2022.07.21.             전자.통신업체 신용등급도 급상승세
3851968  한국경제  2022.07.21.  종합주가 폭락세, 916.01(-37.21) 전장마감
3851969  한국경제  2022.07.21.  산자부, 수치제어장치 산.학.연 공동연구 개발에 성공

[3851970 rows x 3 columns]

In [7]:
df.info(null_counts=True)

/var/folders/62/p7jd9w0n1n3d19j8s3z7k3lw0000gp/T/ipykernel_5448/1982639406.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3851970 entries, 0 to 3851969
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   언론사     3851970 non-null  object
 1   날짜      3560705 non-null  object
 2   제목      3851970 non-null  object
dtypes: object(3)
memory usage: 88.2+ MB

In [8]:
# NaN값 앞 데이터로 채우기
df.fillna(method='ffill', inplace=True)
df

          언론사           날짜                             제목
0        연합뉴스  1998.05.20.                     주가 사흘째 상승세
1        연합뉴스  1998.05.20.        아남텔레콤, PDA 데이터 전송서비스 개시
2        연합뉴스  1998.05.20.        <회전목마> 삼성전자, 사이버 사외보 제작
3        연합뉴스  1998.05.20.       <주식시황> 사흘째 상승, 3백70선 다가서
4        연합뉴스  1998.05.20.          -춘계승마- 신창무,싼졸쥬마장마술 우승
...       ...          ...                            ...
3851965  한국경제  2022.07.21.  디지털이미지뱅크, 한투등 3개사서 20억원 투자 유치
3851966  한국경제  2022.07.21.                   [코스닥공시] 세보기계
3851967  한국경제  2022.07.21.             전자.통신업체 신용등급도 급상승세
3851968  한국경제  2022.07.21.  종합주가 폭락세, 916.01(-37.21) 전장마감
3851969  한국경제  2022.07.21.  산자부, 수치제어장치 산.학.연 공동연구 개발에 성공

[3851970 rows x 3 columns]

In [9]:
df.info(null_counts=True)

/var/folders/62/p7jd9w0n1n3d19j8s3z7k3lw0000gp/T/ipykernel_5448/1982639406.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3851970 entries, 0 to 3851969
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   언론사     3851970 non-null  object
 1   날짜      3851970 non-null  object
 2   제목      3851970 non-null  object
dtypes: object(3)
memory usage: 88.2+ MB

In [10]:
# 혹시 모를 날짜 형식이 아닌 숫자값 확인

df["날짜"] = df["날짜"].str.replace(".", "") 
df.날짜.astype(int).sort_values()

/var/folders/62/p7jd9w0n1n3d19j8s3z7k3lw0000gp/T/ipykernel_5448/621175249.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["날짜"] = df["날짜"].str.replace(".", "")

0          19980520
1          19980520
2          19980520
3          19980520
4          19980520
             ...
3851522    20220721
3851523    20220721
3851524    20220721
3851516    20220721
3851969    20220721
Name: 날짜, Length: 3851970, dtype: int64