In [1]:
import pandas as pd
import numpy as np
import FinanceDataReader as fdr

from tqdm.notebook import tqdm
import time

from datetime import datetime, timedelta

## Data 불러오기

In [2]:
df = pd.read_csv('df_final_Date_refine_add_blank.csv', index_col = 0).reset_index().drop(columns='index')
df = df.rename(columns = {'언론사':'Press', '날짜':'Date', '제목':'Title'})
df

        Press        Date                           Title
0        연합뉴스  1998-05-20                     주가 사흘째 상승세
1        연합뉴스  1998-05-20        아남텔레콤, PDA 데이터 전송서비스 개시
2        연합뉴스  1998-05-20        <회전목마> 삼성전자, 사이버 사외보 제작
3        연합뉴스  1998-05-20       <주식시황> 사흘째 상승, 3백70선 다가서
4        연합뉴스  1998-05-20          -춘계승마- 신창무,싼졸쥬마장마술 우승
...       ...         ...                             ...
3851965  한국경제  2022-07-21  디지털이미지뱅크, 한투등 3개사서 20억원 투자 유치
3851966  한국경제  2022-07-21                   [코스닥공시] 세보기계
3851967  한국경제  2022-07-21             전자.통신업체 신용등급도 급상승세
3851968  한국경제  2022-07-21  종합주가 폭락세, 916.01(-37.21) 전장마감
3851969  한국경제  2022-07-21  산자부, 수치제어장치 산.학.연 공동연구 개발에 성공

[3851970 rows x 3 columns]

In [3]:
stock_df = fdr.DataReader('005930')
stock_df

             Open   High    Low  Close    Volume    Change
Date
1998-05-26    875    893    837    847    422200       NaN
1998-05-27    921    921    822    873    596090  0.030697
1998-05-28    876    977    875    977    835549  0.119129
1998-05-29    977   1007    969    996    717510  0.019447
1998-05-30    986    986    934    936    336920 -0.060241
...           ...    ...    ...    ...       ...       ...
2022-07-27  61300  61900  61200  61800   7320997  0.001621
2022-07-28  62300  62600  61600  61900  10745302  0.001618
2022-07-29  62400  62600  61300  61400  15093120 -0.008078
2022-08-01  61000  61700  60300  61300  13154816 -0.001629
2022-08-02  61200  61900  61000  61700  11354556  0.006525

[6000 rows x 6 columns]

## stock_df의 첫 번째 값이 NaN이므로 2번째 행부터 가져온다

- 가져온 다음 df 범위 설정해주기 (라이브러리의 시작+1 날짜를 뉴스데이터의 시작 날짜로 날짜)

In [4]:
df = df[df['Date'] >= str(stock_df.index[1])[:10]].reset_index().drop(columns='index')
# stock_df = df[df['Date'] <= str(stock_df.index[-1])[:10]] #, 'level_0')
df

        Press        Date                           Title
0        연합뉴스  1998-05-27        삼성전자, 한국HP 지분 45% 전량 매각
1        연합뉴스  1998-05-27          상장사 10개중 7개는 영업할수록 손해
2        연합뉴스  1998-05-27           <표> 97년기준 EVA 상위 30사
3        연합뉴스  1998-05-27          가전사들, 동남아 수출차질 만회 안간힘
4        연합뉴스  1998-05-27                  반도체산업민간협의회 개최
...       ...         ...                             ...
3851933  한국경제  2022-07-21  디지털이미지뱅크, 한투등 3개사서 20억원 투자 유치
3851934  한국경제  2022-07-21                   [코스닥공시] 세보기계
3851935  한국경제  2022-07-21             전자.통신업체 신용등급도 급상승세
3851936  한국경제  2022-07-21  종합주가 폭락세, 916.01(-37.21) 전장마감
3851937  한국경제  2022-07-21  산자부, 수치제어장치 산.학.연 공동연구 개발에 성공

[3851938 rows x 3 columns]

## 일자별로 데이터 묶기

In [5]:
df = df.groupby(['Date', 'Press']).sum()
df

                                                              Title
Date       Press
1998-05-27 연합뉴스   삼성전자, 한국HP 지분 45% 전량 매각 상장사 10개중 7개는 영업할수록 손해 ...
1998-05-28 연합뉴스   주가 상승세 삼성전자, 하나더 판촉 확대실시 <주식시황> 주가 상승 3백20선 회복...
1998-05-29 연합뉴스   < 6.4선거 이후의 과제 > ...(下) 대기업그룹별 현안 전자업계 수출드라이브,...
1998-05-30 연합뉴스   정보통신업계, `실직자를 잡아라' 주가 하락세 반전 삼성전자, 세계 공용 DVD 개...
1998-06-01 연합뉴스   <회전목마> 삼성전자, 인터넷잡지 창간 지난해 상장기업 수출 28.8% 증가 현대전...
...                                                             ...
2022-07-18 연합뉴스   불경기에도 자동차.화장품 광고는 활발 <주식시황> 주가, 큰 폭 상승 삼성전자 정보...
2022-07-19 연합뉴스   반도체 업체들, 보따리장사로 골머리 주가 이틀째 급상승 三星電子, 세계 최경량 PC...
2022-07-20 연합뉴스   삼성전자 반도체 전문 서비스센터 개설 삼성전관, `6시그마운동' 설명회 개최 상장사...
2022-07-21 연합뉴스   D램 모듈 내수가격 큰 폭 하락 <표> 기업집단별.회사별 과징금 부과내역 공정위 조...
           한국경제   종합주가 개장초 등락장세 연출...9시30분 928.84(+0.09) 삼성전자 애니...

[702161 rows x 1 columns]

## 일자별 Labeling하기

In [6]:
df['Change'] = 'x'
df

                                                              Title Change
Date       Press
1998-05-27 연합뉴스   삼성전자, 한국HP 지분 45% 전량 매각 상장사 10개중 7개는 영업할수록 손해 ...      x
1998-05-28 연합뉴스   주가 상승세 삼성전자, 하나더 판촉 확대실시 <주식시황> 주가 상승 3백20선 회복...      x
1998-05-29 연합뉴스   < 6.4선거 이후의 과제 > ...(下) 대기업그룹별 현안 전자업계 수출드라이브,...      x
1998-05-30 연합뉴스   정보통신업계, `실직자를 잡아라' 주가 하락세 반전 삼성전자, 세계 공용 DVD 개...      x
1998-06-01 연합뉴스   <회전목마> 삼성전자, 인터넷잡지 창간 지난해 상장기업 수출 28.8% 증가 현대전...      x
...                                                             ...    ...
2022-07-18 연합뉴스   불경기에도 자동차.화장품 광고는 활발 <주식시황> 주가, 큰 폭 상승 삼성전자 정보...      x
2022-07-19 연합뉴스   반도체 업체들, 보따리장사로 골머리 주가 이틀째 급상승 三星電子, 세계 최경량 PC...      x
2022-07-20 연합뉴스   삼성전자 반도체 전문 서비스센터 개설 삼성전관, `6시그마운동' 설명회 개최 상장사...      x
2022-07-21 연합뉴스   D램 모듈 내수가격 큰 폭 하락 <표> 기업집단별.회사별 과징금 부과내역 공정위 조...      x
           한국경제   종합주가 개장초 등락장세 연출...9시30분 928.84(+0.09) 삼성전자 애니...      x

[702161 rows x 2 columns]

In [17]:
df.index

MultiIndex([('1998-05-27', '연합뉴스'),
            ('1998-05-28', '연합뉴스'),
            ('1998-05-29', '연합뉴스'),
            ('1998-05-30', '연합뉴스'),
            ('1998-06-01', '연합뉴스'),
            ('1998-06-02', '연합뉴스'),
            ('1998-06-03', '연합뉴스'),
            ('1998-06-04', '연합뉴스'),
            ('1998-06-05', '연합뉴스'),
            ('1998-06-06', '연합뉴스'),
            ...
            ('2022-07-13', '연합뉴스'),
            ('2022-07-14', '연합뉴스'),
            ('2022-07-15', '연합뉴스'),
            ('2022-07-16', '연합뉴스'),
            ('2022-07-17', '연합뉴스'),
            ('2022-07-18', '연합뉴스'),
            ('2022-07-19', '연합뉴스'),
            ('2022-07-20', '연합뉴스'),
            ('2022-07-21', '연합뉴스'),
            ('2022-07-21', '한국경제')],
           names=['Date', 'Press'], length=702161)

In [14]:
stock = datetime.strptime(str(stock_df.index[1:][8]), "%Y-%m-%d %H:%M:%S")
stock

datetime.datetime(1998, 5, 28, 0, 0)

In [13]:
news = datetime.strptime(df.index[8[0], "%Y-%m-%d")
news

datetime.datetime(1998, 5, 28, 0, 0)

In [9]:
news + timedelta(days=1)

datetime.datetime(1998, 5, 29, 0, 0)

In [11]:
df.index

MultiIndex([('1998-05-27', '연합뉴스'),
            ('1998-05-28', '연합뉴스'),
            ('1998-05-29', '연합뉴스'),
            ('1998-05-30', '연합뉴스'),
            ('1998-06-01', '연합뉴스'),
            ('1998-06-02', '연합뉴스'),
            ('1998-06-03', '연합뉴스'),
            ('1998-06-04', '연합뉴스'),
            ('1998-06-05', '연합뉴스'),
            ('1998-06-06', '연합뉴스'),
            ...
            ('2022-07-13', '연합뉴스'),
            ('2022-07-14', '연합뉴스'),
            ('2022-07-15', '연합뉴스'),
            ('2022-07-16', '연합뉴스'),
            ('2022-07-17', '연합뉴스'),
            ('2022-07-18', '연합뉴스'),
            ('2022-07-19', '연합뉴스'),
            ('2022-07-20', '연합뉴스'),
            ('2022-07-21', '연합뉴스'),
            ('2022-07-21', '한국경제')],
           names=['Date', 'Press'], length=702161)

In [18]:
j = 0
i = 1

for i in tqdm(stock_df.index[1:]):
    j += 1
    stock = datetime.strptime(str(i), "%Y-%m-%d %H:%M:%S") # + timedelta(days=1) # datetime.datetime(1998, 5, 29, 0, 0) 형태로 변환
    news = datetime.strptime(df.index[j-1][0], "%Y-%m-%d") # + timedelta(days=1)
    print(i)
    # print(j)
    # print(stock)
    # print(news)

    while True:
        if stock > news:
            news = news + timedelta(days=1)
            print(stock, ' / ', news)
            continue
        elif stock < news:
            stock = stock + timedelta(days=1)
            print(stock, ' / ', news)
            continue
        elif news == stock:
            print(stock, ' / ', news)
            break

    print("----------")

SyntaxError: invalid syntax (2922672926.py, line 16)