In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder
from sklearn.impute import KNNImputer

In [ ]:
# pd.options.display.max_rows = 999999
# pd.options.display.max_columns = 500

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [2]:
# train_t = pd.read_csv('train_transaction.csv')
# train_i = pd.read_csv('train_identity.csv')
# test_t = pd.read_csv('test_transaction.csv')
# test_i = pd.read_csv('test_identity.csv')

train = pd.read_csv('train_02.csv')
test = pd.read_csv('test_02.csv')

submission = pd.read_csv('sample_submission.csv')

In [ ]:
'''
def reduce_mem_usage1(props):
    start_mem_usg = props.memory_usage().sum() / 1024**2 
    print("Memory usage of properties dataframe is :",start_mem_usg," MB")
    NAlist = [] # Keeps track of columns that have missing values filled in. 
    for col in props.columns:
        if props[col].dtype != object:  # Exclude strings
            
            # Print current column type
            print("******************************")
            print("Column: ",col)
            print("dtype before: ",props[col].dtype)
            
            # make variables for Int, max and min
            IsInt = False
            mx = props[col].max()
            mn = props[col].min()
            
            # Integer does not support NA, therefore, NA needs to be filled
            if not np.isfinite(props[col]).all(): 
                NAlist.append(col)
                props[col].fillna(mn-1,inplace=True)  
                   
            # test if column can be converted to an integer
            asint = props[col].fillna(0).astype(np.int64)
            result = (props[col] - asint)
            result = result.sum()
            if result > -0.01 and result < 0.01:
                IsInt = True

            
            # Make Integer/unsigned Integer datatypes
            if IsInt:
                if mn >= 0:
                    if mx < 255:
                        props[col] = props[col].astype(np.uint8)
                    elif mx < 65535:
                        props[col] = props[col].astype(np.uint16)
                    elif mx < 4294967295:
                        props[col] = props[col].astype(np.uint32)
                    else:
                        props[col] = props[col].astype(np.uint64)
                else:
                    if mn > np.iinfo(np.int8).min and mx < np.iinfo(np.int8).max:
                        props[col] = props[col].astype(np.int8)
                    elif mn > np.iinfo(np.int16).min and mx < np.iinfo(np.int16).max:
                        props[col] = props[col].astype(np.int16)
                    elif mn > np.iinfo(np.int32).min and mx < np.iinfo(np.int32).max:
                        props[col] = props[col].astype(np.int32)
                    elif mn > np.iinfo(np.int64).min and mx < np.iinfo(np.int64).max:
                        props[col] = props[col].astype(np.int64)    
            
            # Make float datatypes 32 bit
            else:
                props[col] = props[col].astype(np.float32)
            
            # Print new column type
            print("dtype after: ",props[col].dtype)
            print("******************************")
    
    # Print final result
    print("___MEMORY USAGE AFTER COMPLETION:___")
    mem_usg = props.memory_usage().sum() / 1024**2 
    print("Memory usage is: ",mem_usg," MB")
    print("This is ",100*mem_usg/start_mem_usg,"% of the initial size")
    return props, NAlist

%time
# From kernel https://www.kaggle.com/gemartin/load-data-reduce-memory-usage
# WARNING! THIS CAN DAMAGE THE DATA 
def reduce_mem_usage2(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df
'''

In [ ]:
'''
train = reduce_mem_usage2(train)
test = reduce_mem_usage2(test)
'''

In [18]:
# train = pd.merge(train_t, train_i, on='TransactionID', how='outer')
# train
train

,Unnamed: 0,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,...,V304,V306,V307,V308,V310,V312,V313,V314,V315,V317
0,0,2987000,0,86400,68.50,W,13926,NaN,150.0,discover,...,0.0,0.000000,117.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,117.0
1,1,2987001,0,86401,29.00,W,2755,404.0,150.0,mastercard,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
2,2,2987002,0,86469,59.00,W,4663,490.0,150.0,visa,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
3,3,2987003,0,86499,50.00,W,18132,567.0,150.0,mastercard,...,0.0,50.000000,1758.000000,925.000000,354.000000,135.0,0.000000,0.000000,0.000000,1404.0
4,4,2987004,0,86506,50.00,H,4497,514.0,150.0,mastercard,...,1.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,590535,3577535,0,15811047,49.00,W,6550,NaN,150.0,visa,...,0.0,0.000000,47.950001,0.000000,47.950001,0.0,47.950001,47.950001,47.950001,0.0
590536,590536,3577536,0,15811049,39.50,W,10444,225.0,150.0,mastercard,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
590537,590537,3577537,0,15811079,30.95,W,12037,595.0,150.0,mastercard,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
590538,590538,3577538,0,15811088,117.00,W,7826,481.0,150.0,mastercard,...,0.0,117.000000,2903.500000,117.000000,669.500000,117.0,317.500000,669.500000,317.500000,2234.0
590539,590539,3577539,0,15811131,279.95,W,15066,170.0,150.0,mastercard,...,0.0,279.950012,279.950012,279.950012,0.000000,0.0,0.000000,0.000000,0.000000,0.0

In [4]:
# test = pd.merge(test_t, test_i, on='TransactionID', how='outer')
# test

test.head()

,Unnamed: 0,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V304,V306,V307,V308,V310,V312,V313,V314,V315,V317
0,0,3663549,18403224,31.95,W,10409,111.0,150.0,visa,226.0,...,0.0,0.000000,47.950001,0.000000,47.950001,0.000000,0.000000,0.000000,0.000000,0.0
1,1,3663550,18403263,49.00,W,4272,111.0,150.0,visa,226.0,...,0.0,0.000000,280.000000,77.000000,280.000000,77.000000,0.000000,0.000000,0.000000,0.0
2,2,3663551,18403310,171.00,W,4476,574.0,150.0,visa,226.0,...,0.0,0.000000,1321.000000,0.000000,1058.000000,0.000000,0.000000,0.000000,0.000000,0.0
3,3,3663552,18403310,284.95,W,10989,360.0,150.0,visa,166.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,282.540009,282.540009,282.540009,0.0
4,4,3663553,18403317,67.95,W,18018,452.0,150.0,mastercard,117.0,...,0.0,67.949997,183.850006,67.949997,183.850006,67.949997,67.949997,183.850006,67.949997,0.0

In [5]:
# Label encoding할 column 추출

train.iloc[:, :100].info()
train.iloc[:, 100:200].info()
train.iloc[:, 200:300].info()
train.iloc[:, 300:400].info()
train.iloc[:, 300:400].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Data columns (total 100 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      590540 non-null  int64
 1   TransactionID   590540 non-null  int64
 2   isFraud         590540 non-null  int64
 3   TransactionDT   590540 non-null  int64
 4   TransactionAmt  590540 non-null  float64
 5   ProductCD       590540 non-null  object
 6   card1           590540 non-null  int64
 7   card2           581607 non-null  float64
 8   card3           588975 non-null  float64
 9   card4           588963 non-null  object
 10  card5           586281 non-null  float64
 11  card6           588969 non-null  object
 12  addr1           524834 non-null  float64
 13  addr2           524834 non-null  float64
 14  dist1           238269 non-null  float64
 15  P_emaildomain   496084 non-null  object
 16  C1              590540 non-null  float64
 17  C2              590540 non-null  float64
 18  C4              590540 non-null  float64
 19  C5              590540 non-null  float64
 20  C6              590540 non-null  float64
 21  C7              590540 non-null  float64
 22  C8              590540 non-null  float64
 23  C9              590540 non-null  float64
 24  C10             590540 non-null  float64
 25  C11             590540 non-null  float64
 26  C12             590540 non-null  float64
 27  C13             590540 non-null  float64
 28  C14             590540 non-null  float64
 29  D1              589271 non-null  float64
 30  D2              309743 non-null  float64
 31  D3              327662 non-null  float64
 32  D4              421618 non-null  float64
 33  D5              280699 non-null  float64
 34  D10             514518 non-null  float64
 35  D11             311253 non-null  float64
 36  D15             501427 non-null  float64
 37  M1              319440 non-null  object
 38  M2              319440 non-null  object
 39  M3              319440 non-null  object
 40  M4              309096 non-null  object
 41  M5              240058 non-null  object
 42  M6              421180 non-null  object
 43  M7              244275 non-null  object
 44  M8              244288 non-null  object
 45  M9              244288 non-null  object
 46  V1              311253 non-null  float64
 47  V2              311253 non-null  float64
 48  V3              311253 non-null  float64
 49  V4              311253 non-null  float64
 50  V5              311253 non-null  float64
 51  V6              311253 non-null  float64
 52  V7              311253 non-null  float64
 53  V8              311253 non-null  float64
 54  V9              311253 non-null  float64
 55  V10             311253 non-null  float64
 56  V11             311253 non-null  float64
 57  V12             514467 non-null  float64
 58  V13             514467 non-null  float64
 59  V15             514467 non-null  float64
 60  V16             514467 non-null  float64
 61  V17             514467 non-null  float64
 62  V18             514467 non-null  float64
 63  V19             514467 non-null  float64
 64  V20             514467 non-null  float64
 65  V21             514467 non-null  float64
 66  V22             514467 non-null  float64
 67  V29             514467 non-null  float64
 68  V30             514467 non-null  float64
 69  V31             514467 non-null  float64
 70  V32             514467 non-null  float64
 71  V33             514467 non-null  float64
 72  V34             514467 non-null  float64
 73  V35             421571 non-null  float64
 74  V36             421571 non-null  float64
 75  V37             421571 non-null  float64
 76  V38             421571 non-null  float64
 77  V39             421571 non-null  float64
 78  V40             421571 non-null  float64
 79  V41             421571 non-null  float64
 80  V42             421571 non-null  float64
 81  V43             421571 non-null  float64
 82  V44             421571 non-null  float64
 83  V45             421571 non-null  float64
 84  V46             421571 non-null  float64
 85  V47             421571 non-null  float64
 86  V48             421571 non-null  float64
 87  V49             421571 non-null  float64
 88  V50             421571 non-null  float64
 89  V51             421571 non-null  float64
 90  V52             421571 non-null  float64
 91  V53             513444 non-null  float64
 92  V54             513444 non-null  float64
 93  V56             513444 non-null  float64
 94  V57             513444 non-null  float64
 95  V58             513444 non-null  float64
 96  V59             513444 non-null  float64
 97  V60             513444 non-null  float64
 98  V61             513444 non-null  float64
 99  V62             513444 non-null  float64
dtypes: float64(82), int64(5), object(13)
memory usage: 450.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Data columns (total 57 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   V63     513444 non-null  float64
 1   V64     513444 non-null  float64
 2   V69     513444 non-null  float64
 3   V70     513444 non-null  float64
 4   V71     513444 non-null  float64
 5   V72     513444 non-null  float64
 6   V73     513444 non-null  float64
 7   V74     513444 non-null  float64
 8   V75     501376 non-null  float64
 9   V76     501376 non-null  float64
 10  V78     501376 non-null  float64
 11  V79     501376 non-null  float64
 12  V80     501376 non-null  float64
 13  V81     501376 non-null  float64
 14  V82     501376 non-null  float64
 15  V83     501376 non-null  float64
 16  V84     501376 non-null  float64
 17  V85     501376 non-null  float64
 18  V87     501376 non-null  float64
 19  V90     501376 non-null  float64
 20  V91     501376 non-null  float64
 21  V92     501376 non-null  float64
 22  V93     501376 non-null  float64
 23  V94     501376 non-null  float64
 24  V95     590226 non-null  float64
 25  V96     590226 non-null  float64
 26  V97     590226 non-null  float64
 27  V99     590226 non-null  float64
 28  V100    590226 non-null  float64
 29  V126    590226 non-null  float64
 30  V127    590226 non-null  float64
 31  V128    590226 non-null  float64
 32  V130    590226 non-null  float64
 33  V131    590226 non-null  float64
 34  V279    590528 non-null  float64
 35  V280    590528 non-null  float64
 36  V282    589271 non-null  float64
 37  V283    589271 non-null  float64
 38  V285    590528 non-null  float64
 39  V287    590528 non-null  float64
 40  V288    589271 non-null  float64
 41  V289    589271 non-null  float64
 42  V291    590528 non-null  float64
 43  V292    590528 non-null  float64
 44  V294    590528 non-null  float64
 45  V302    590528 non-null  float64
 46  V303    590528 non-null  float64
 47  V304    590528 non-null  float64
 48  V306    590528 non-null  float64
 49  V307    590528 non-null  float64
 50  V308    590528 non-null  float64
 51  V310    590528 non-null  float64
 52  V312    590528 non-null  float64
 53  V313    589271 non-null  float64
 54  V314    589271 non-null  float64
 55  V315    589271 non-null  float64
 56  V317    590528 non-null  float64
dtypes: float64(57)
memory usage: 256.8 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Empty DataFrame<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Empty DataFrame<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590540 entries, 0 to 590539
Empty DataFrame

In [6]:
train.corr()

,Unnamed: 0,TransactionID,isFraud,TransactionDT,TransactionAmt,card1,card2,card3,card5,addr1,...,V304,V306,V307,V308,V310,V312,V313,V314,V315,V317
Unnamed: 0,1.000000,1.000000,0.014166,0.998280,0.012025,0.010122,-0.019900,-0.010091,-0.023900,-0.000370,...,-0.101330,0.058873,0.062254,0.065517,0.061176,0.039737,0.030079,0.042570,0.029283,0.056887
TransactionID,1.000000,1.000000,0.014166,0.998280,0.012025,0.010122,-0.019900,-0.010091,-0.023900,-0.000370,...,-0.101330,0.058873,0.062254,0.065517,0.061176,0.039737,0.030079,0.042570,0.029283,0.056887
isFraud,0.014166,0.014166,1.000000,0.013103,0.011320,-0.013640,0.003388,0.154151,-0.033580,0.005596,...,0.131498,-0.001863,0.005948,0.003253,0.011071,0.037578,0.041494,0.038535,0.048298,0.005010
TransactionDT,0.998280,0.998280,0.013103,1.000000,0.011920,0.010625,-0.019202,-0.011222,-0.024132,-0.000051,...,-0.097353,0.061252,0.064581,0.068148,0.061206,0.039969,0.029642,0.042646,0.028649,0.059212
TransactionAmt,0.012025,0.012025,0.011320,0.011920,1.000000,-0.005725,0.016136,-0.109785,0.003061,-0.007421,...,-0.109847,0.035330,0.029512,0.034060,0.106194,0.107135,0.190256,0.148143,0.176778,0.010584
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
V312,0.039737,0.039737,0.037578,0.039969,0.107135,0.005182,0.001232,-0.055286,-0.005351,-0.007074,...,-0.004781,0.244416,0.290786,0.298697,0.732862,1.000000,0.376690,0.426367,0.411340,0.230368
V313,0.030079,0.030079,0.041494,0.029642,0.190256,0.001198,-0.000959,-0.046952,-0.009471,0.001407,...,-0.048711,0.066685,0.075155,0.079033,0.296010,0.376690,1.000000,0.749145,0.918433,0.048729
V314,0.042570,0.042570,0.038535,0.042646,0.148143,0.011300,0.003787,-0.060462,-0.017215,0.003229,...,-0.030084,0.181110,0.222606,0.219835,0.437766,0.426367,0.749145,1.000000,0.839912,0.187214
V315,0.029283,0.029283,0.048298,0.028649,0.176778,-0.000089,0.000611,-0.051535,-0.005210,-0.001234,...,-0.058180,0.057574,0.076795,0.077219,0.337676,0.411340,0.918433,0.839912,1.000000,0.047055
V317,0.056887,0.056887,0.005010,0.059212,0.010584,0.050782,0.031893,-0.016353,-0.093863,0.014431,...,0.233147,0.900672,0.991723,0.958704,0.263996,0.230368,0.048729,0.187214,0.047055,1.000000

In [9]:
# nan = np.nan
# X = [[1, 2, nan], [3, 4, 3], [nan, 6, 5], [8, 8, 7]]
# imputer = KNNImputer(n_neighbors=4, weights="uniform")
# imputer.fit_transform(X)

array([[1., 2., 5.],
       [3., 4., 3.],
       [4., 6., 5.],
       [8., 8., 7.]])

In [10]:
train.select_dtypes("object").columns

Index(['ProductCD', 'card4', 'card6', 'P_emaildomain', 'M1', 'M2', 'M3', 'M4',
       'M5', 'M6', 'M7', 'M8', 'M9'],
      dtype='object')

In [17]:
print(train.isnull().sum()[:50])
print(train.isnull().sum()[50:100])
print(train.isnull().sum()[100:])

Unnamed: 0             0
TransactionID          0
isFraud                0
TransactionDT          0
TransactionAmt         0
ProductCD              0
card1                  0
card2               8933
card3               1565
card4               1577
card5               4259
card6               1571
addr1              65706
addr2              65706
dist1             352271
P_emaildomain      94456
C1                     0
C2                     0
C4                     0
C5                     0
C6                     0
C7                     0
C8                     0
C9                     0
C10                    0
C11                    0
C12                    0
C13                    0
C14                    0
D1                  1269
D2                280797
D3                262878
D4                168922
D5                309841
D10                76022
D11               279287
D15                89113
M1                271100
M2                271100
M3                271100
M4                281444
M5                350482
M6                169360
M7                346265
M8                346252
M9                346252
V1                279287
V2                279287
V3                279287
V4                279287
dtype: int64
V5     279287
V6     279287
V7     279287
V8     279287
V9     279287
V10    279287
V11    279287
V12     76073
V13     76073
V15     76073
V16     76073
V17     76073
V18     76073
V19     76073
V20     76073
V21     76073
V22     76073
V29     76073
V30     76073
V31     76073
V32     76073
V33     76073
V34     76073
V35    168969
V36    168969
V37    168969
V38    168969
V39    168969
V40    168969
V41    168969
V42    168969
V43    168969
V44    168969
V45    168969
V46    168969
V47    168969
V48    168969
V49    168969
V50    168969
V51    168969
V52    168969
V53     77096
V54     77096
V56     77096
V57     77096
V58     77096
V59     77096
V60     77096
V61     77096
V62     77096
dtype: int64
V63     77096
V64     77096
V69     77096
V70     77096
V71     77096
V72     77096
V73     77096
V74     77096
V75     89164
V76     89164
V78     89164
V79     89164
V80     89164
V81     89164
V82     89164
V83     89164
V84     89164
V85     89164
V87     89164
V90     89164
V91     89164
V92     89164
V93     89164
V94     89164
V95       314
V96       314
V97       314
V99       314
V100      314
V126      314
V127      314
V128      314
V130      314
V131      314
V279       12
V280       12
V282     1269
V283     1269
V285       12
V287       12
V288     1269
V289     1269
V291       12
V292       12
V294       12
V302       12
V303       12
V304       12
V306       12
V307       12
V308       12
V310       12
V312       12
V313     1269
V314     1269
V315     1269
V317       12
dtype: int64

In [20]:
(279287 / 590540)*100

47.29349409015477

In [21]:
train_object = train.select_dtypes("object")
train_object

,ProductCD,card4,card6,P_emaildomain,M1,M2,M3,M4,M5,M6,M7,M8,M9
0,W,discover,credit,NaN,T,T,T,M2,F,T,NaN,NaN,NaN
1,W,mastercard,credit,gmail.com,NaN,NaN,NaN,M0,T,T,NaN,NaN,NaN
2,W,visa,debit,outlook.com,T,T,T,M0,F,F,F,F,F
3,W,mastercard,debit,yahoo.com,NaN,NaN,NaN,M0,T,F,NaN,NaN,NaN
4,H,mastercard,credit,gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
590535,W,visa,debit,NaN,T,T,T,M0,T,F,F,F,T
590536,W,mastercard,debit,gmail.com,T,F,F,M0,F,T,F,F,F
590537,W,mastercard,debit,gmail.com,T,F,F,NaN,NaN,T,NaN,NaN,NaN
590538,W,mastercard,debit,aol.com,T,T,T,M0,F,T,NaN,NaN,NaN
590539,W,mastercard,credit,gmail.com,T,F,F,NaN,NaN,T,F,F,F

In [39]:
le = LabelEncoder()
train['card6'] = le.fit_transform(train['card6'])
train.card6

0         1
1         1
2         2
3         2
4         1
         ..
590535    2
590536    2
590537    2
590538    2
590539    1
Name: card6, Length: 590540, dtype: int64

In [33]:
train.card6.isnull().sum()

1571

In [45]:
imputer = KNNImputer(n_neighbors=4)
imputed = imputer.fit_transform(np.reshape(train['card6'],(-1,1))
train_card6_imputed = pd.DataFrame(imputed, columns = train.card6)
train_card6_imputed

SyntaxError: invalid syntax (355737066.py, line 3)

In [ ]:
train.card4

In [ ]:


X = np.array(train.card4)
imputer = KNNImputer(n_neighbors=4, weights="uniform")
imputer.fit_transform(X)

In [ ]:
train_object.card4.value_counts()

In [ ]:
(train_object['card4'] == 'visa').sum()

In [ ]:
def train_percent(a, b):
    return a / b

In [ ]:
train_percent(train_object.card4.visa / train_object.card4.count())

In [ ]:
train_object.card4.value_counts()
sns.histplot(data=train_object.card4)

In [ ]:
train_object.DeviceInfo.unique()

In [ ]:
train.card4 = le.transform

In [ ]:
train.ProductCD.unique()

In [ ]:
le.classes_

In [ ]:
le.transform(['C', 'H', 'R', 'S', 'W'])

In [ ]:
train['ProductCD'] = le.transform([train.ProductCD])
train['ProductCD']

In [ ]:
submission.shape

In [ ]:
test.ProductCD.value_counts()

In [ ]:
print(test.columns[ : 100])
print(test.columns[100 : 200])
print(test.columns[200 : 300])
print(test.columns[300 : 400])
print(test.columns[400 : 450])

In [ ]:
# 결측치 보기

test.iloc[:, :100].info()
test.iloc[:, 100:200].info()
test.iloc[:, 200:300].info()
test.iloc[:, 300:400].info()
test.iloc[:, 300:400].info()

In [ ]:
plt.figure(figsize=(10,5))
sns.histplot(data=train, x='ProductCD', palette='Set2')
train[['ProductCD']].value_counts() #.sort_index()
# train[['TransactionAmt']].describe()

In [ ]:
plt.figure(figsize=(10,5))
sns.histplot(data=test, x='card5', palette='Paired')
test[['card5']].value_counts().sort_index()
# test[['ProductCD']].describe()

In [ ]:
train.ProductCD[.value_counts()

In [ ]:
train

In [ ]:
(train['isFraud']==1).value_counts()

In [ ]:
test.dist2.value_counts().sort_index()

In [ ]:
train_C = train.filter(like='C')
train_C

In [ ]:
plt.figure(figsize=(5,5))
sns.catplot(data=train_C)

In [ ]:
scatscatterr

In [ ]:
train_i['DeviceInfo'].str.contains('SAMSUNG').sum()
# LL = train_i[train_i['DeviceInfo'].str.contains('SAMSUNG', na=True)]
# LL

In [ ]:
train.filter(like='V')

In [ ]:
# train.V1.value_counts()
plt.figure(figsize=(10,10))
sns.histplot(data=train_V)
plt.show()

In [ ]:
train_i['id']

In [ ]:
train[['P_emaildomain']]
# sns.histplot(data=train_t, x='P_emaildomain')

In [ ]:
a = set(train_t['P_emaildomain'])
b = set(train_t['R_emaildomain'])

In [ ]:
b-a

In [ ]:
print(set1.difference(set2))

In [ ]:
plt.scatter

In [ ]:
train_t.filter(regex='card2')

In [ ]:
train_t = train_t.filter(regex='addr')
train_t[:50]
# filter_.iloc[100000:100500, :]

In [ ]:
train_t.card1.unique()

In [ ]:
train_i.columns

In [ ]:
test_t[ : 50]
# print(test_t.columns[100 : 200])
# print(test_t.columns[200 : 300])
# print(test_t.columns[300 : 400])

In [ ]:
test_i.columns

In [ ]:
sns.boxplot(data=train_t)

In [ ]:
sns.catplot(data=train_t)

In [ ]:
plt.figure=figsize(10,10)
filter_.drop(columns=['ProductCD']).plot()

In [ ]:
train_t

In [ ]:
train_t[:50].info()

In [ ]:
# 구매자 도메인
train_t.P_emaildomain.value_counts().count()

In [ ]:
# 수령자 도메인
train_t.R_emaildomain.value_counts().count()

In [ ]:
train_i

In [ ]:
# train_merge = pd.merge(train_t, train_i, on='TransactionID', how='outer')
# train_merge

In [ ]:
train_merge.DeviceInfo.value_counts()

In [ ]:
test_i

In [ ]:
test_t

In [ ]:
submission

In [ ]:
train_t[train_t['isFraud'] == 1]

In [ ]:
# train_t.info()