In [1]:
import pandas as pd
import numpy as np

In [13]:
ex = pd.read_csv('/Users/lhs2/Desktop/GitHub/NLP_pjt/data(concat)/1998_2010.csv', index_col=0).reset_index().drop(columns='index')

In [14]:
ex

           언론사           날짜                                     제목
0         연합뉴스  1998.05.20.                             주가 사흘째 상승세
1         연합뉴스  1998.05.20.                아남텔레콤, PDA 데이터 전송서비스 개시
2         연합뉴스  1998.05.20.                <회전목마> 삼성전자, 사이버 사외보 제작
3         연합뉴스  1998.05.20.               <주식시황> 사흘째 상승, 3백70선 다가서
4         연합뉴스  1998.05.20.                  -춘계승마- 신창무,싼졸쥬마장마술 우승
...        ...          ...                                    ...
667057  파이낸셜뉴스      A18면 2단        [CES2011]세계 최대 가전쇼 열리는 라스베이거스는?
667058    매일경제       9면 TOP         갤럭시 플레이어 미리 만나볼까, 본격출시전 체험단 모집
667059     뉴스핌        9면 3단                  <스페셜인터뷰> 천정훈 MIT 석좌교수
667060  헤럴드POP       12면 3단                     갤럭시S 닮은꼴 'N스크린' 공개
667061   미디어오늘       4면 TOP  “2011년 1000만원이 1억 될 종목” 묻지마 쩜상이 기대된다!

[667062 rows x 3 columns]

In [4]:
# 날짜 데이터에 들어있는 데이터 중에 년도 관련을(199 or 200 or 201 or 202) 포함하지 않는 데이터 추출

ex[ex["날짜"].str.contains('199|200|201|202')==False]
#ex  #[:50]

             언론사       날짜                                               제목
3           전자신문   33면 1단                         [신년기획]인공지능, 올해 경쟁력 확보 원년
8           IT조선   18면 1단  [2017 스마트폰 트렌드] ②새해 프리미엄폰 대전 앞두고 중저가폰 경쟁 치열....
23       글로벌이코노믹   8면 TOP      [리셋코리아 2017] 양날의 칼 4차산업혁명, 경쟁력과 일자리 감소의 딜레마
32          연합뉴스  20면 TOP                  특검, 탄핵심판 5가지 쟁점 모두 수사…헌재에 영향 주목
51           뉴스핌  A20면 1단              [주간추천주] 증권가, 화학·IT株에 러브콜…"업황 개선 기대"
...          ...      ...                                              ...
1713502     한국경제    4면 1단                   컬러TV 판매 증가...10년 사이클로 세대교체기 맞아
1713511     한국경제   1면 TOP                              삼성전자, 외국인 손짓따라 '출렁'
1713514     한국경제    3면 1단                    PC.오디오 업체, 졸업.입학 시즌 판촉행사 '푸짐'
1713522     한국경제   1면 TOP                         환매후 단기 유동성 장세 가능성...교보증권
1713544     한국경제   20면 3단            코스닥은 상승 주가는 급락...주가 953.22(-12.96) 마감

[140662 rows x 3 columns]

In [5]:
# 날짜 데이터에서 들어있는 텍스트값 NAN값 처리

ex["날짜"] = ex["날짜"].str.replace("(\w+|\W+)(\s+)(\w+|\W+)", "") 
ex["날짜"].replace("", np.nan, inplace=True)

/var/folders/62/p7jd9w0n1n3d19j8s3z7k3lw0000gp/T/ipykernel_4441/3969182355.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  ex["날짜"] = ex["날짜"].str.replace("(\w+|\W+)(\s+)(\w+|\W+)", "")

In [6]:
ex.isnull().sum()

언론사         0
날짜     140221
제목          0
dtype: int64

In [7]:
ex[ex["날짜"].str.contains('199|200|201|202')==False]

                언론사  날짜                                           제목
7049            YTN  1단                  '트럼프 위협'에 삼성·LG 美에 가전 공장 검토
193665         전자신문  1단          "벤자민, 삼성전자 어때?" 대신증권, AI 금융상품 추천 눈길
194653         이데일리  1단            [마감]코스닥, IT주 반등에 강세…외국인 나흘 만에 순매수
288520         이데일리  1단                      [마감]코스피, 2490 터치 후 숨고르기
489498         쿠키뉴스  1단    [속보] 삼성전자 올 2분기 시설투자 8조원 집행…상반기 16조6000억원
...             ...  ..                                          ...
1693823        연합뉴스  1단  갤럭시 워치4 시리즈용 '원UI 워치 4.5' 주요 기능 소개.. 3분기 출시
1697356  이데일리언론사 선정  1단                        반도체 투심 회복에…소부장주도 '화색'
1699023       스포츠조선  1단                         LF 트라이씨클, 간편결제 혜택 확대
1704663        연합뉴스  1단                   <備忘錄>현대그룹 전자부문 본격강화, 삼성 긴장
1709230        연합뉴스  1단                          <주식시황> 종합지수 7백선 무너져

[441 rows x 3 columns]

In [9]:
# 다 처리됐는지 확인

ex["날짜"] = ex["날짜"].str.replace("\D+", "")  # 숫자 제외 모든 문자 공백으로
ex["날짜"] = ex["날짜"].str.replace("\d+", "")  # 숫자 제외 모든 문자 공백으로
ex["날짜"].replace("", np.nan, inplace=True)
ex[ex["날짜"].str.contains('199|200|201|202')==False]

/var/folders/62/p7jd9w0n1n3d19j8s3z7k3lw0000gp/T/ipykernel_4441/1166409570.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  ex["날짜"] = ex["날짜"].str.replace("\D+", "")  # 숫자 제외 모든 문자 공백으로

Empty DataFrame
Columns: [언론사, 날짜, 제목]
Index: []

In [10]:
ex["날짜"].isnull().sum()

140662

In [12]:
ex[-500:]

          언론사     날짜                             제목
1713062  연합뉴스  20202        삼성 전자 관계사 공채, 경쟁률 41대 1
1713063  연합뉴스  20202            무선인터넷 서비스 위해 전략적 제휴
1713064  연합뉴스  20202           주가 43포인트 폭등, 870선 회복
1713065  연합뉴스    NaN       주가 43포인트 폭등, 870선 회복(종합)
1713066  연합뉴스  20202       아.태 주요 기업 경기회복으로 대폭 수익호전
...       ...    ...                            ...
1713557  한국경제  20202  디지털이미지뱅크, 한투등 3개사서 20억원 투자 유치
1713558  한국경제  20202                   [코스닥공시] 세보기계
1713559  한국경제  20202             전자.통신업체 신용등급도 급상승세
1713560  한국경제  20202  종합주가 폭락세, 916.01(-37.21) 전장마감
1713561  한국경제  20202  산자부, 수치제어장치 산.학.연 공동연구 개발에 성공

[500 rows x 3 columns]

In [ ]:
# 앞 데이터로 NAN값 채우기 fill foward

ex.fillna(method='ffill', inplace=True)
ex

In [ ]:
# FinanceData 모듈과 같은 형식으로 만들기 위해 . -> - 로 바꾸기, finance의 -를 없앨지? 추후 논의

In [ ]:
# for i in range(5):
#     i += 1
#     print(df_2000_str[50*(i-1):50*i])
#     print('')